<!-- uwaga, na stronie głównej header jest nieco inny. Znajduje się on w pliku index.html -->

<header class="header-box">
    <div class="grid-x header grid-container">
        <div class="cell small-6 medium-4 large-5 center"><img src="img/Group 57.svg" alt=""></div>
        <div class="cell small-6 medium-8 large-7 links-box-box">
            <div class="links-middle-box">
                <div class=" text-right links-box">
                    <div class=" header-cell center">
                        <!-- <div class="grid-x"> -->
                        <div class=" social-links"><a href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="8.133"
                                    height="15.185" viewBox="0 0 8.133 15.185">
                                    <path id="Icon_awesome-facebook-f" data-name="Icon awesome-facebook-f"
                                        d="M9.21,8.542l.422-2.748H6.994V4.01A1.374,1.374,0,0,1,8.544,2.525h1.2V.186A14.619,14.619,0,0,0,7.614,0,3.355,3.355,0,0,0,4.023,3.7V5.794H1.609V8.542H4.023v6.644H6.994V8.542Z"
                                        transform="translate(-1.609)" fill="#252e41" />
                                </svg></a></div>
                        <div class=" social-links"><a href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="13.295"
                                    height="13.292" viewBox="0 0 13.295 13.292">
                                    <path id="Icon_awesome-instagram" data-name="Icon awesome-instagram"
                                        d="M6.643,5.476a3.408,3.408,0,1,0,3.408,3.408A3.4,3.4,0,0,0,6.643,5.476Zm0,5.623A2.216,2.216,0,1,1,8.859,8.883,2.22,2.22,0,0,1,6.643,11.1Zm4.342-5.763a.795.795,0,1,1-.795-.795A.793.793,0,0,1,10.986,5.336Zm2.257.807a3.934,3.934,0,0,0-1.074-2.785A3.959,3.959,0,0,0,9.384,2.284c-1.1-.062-4.387-.062-5.484,0A3.954,3.954,0,0,0,1.115,3.355,3.946,3.946,0,0,0,.041,6.14c-.062,1.1-.062,4.387,0,5.484a3.934,3.934,0,0,0,1.074,2.785A3.964,3.964,0,0,0,3.9,15.483c1.1.062,4.387.062,5.484,0a3.934,3.934,0,0,0,2.785-1.074,3.959,3.959,0,0,0,1.074-2.785c.062-1.1.062-4.384,0-5.481ZM11.825,12.8a2.243,2.243,0,0,1-1.263,1.263,14.648,14.648,0,0,1-3.918.267,14.763,14.763,0,0,1-3.918-.267A2.243,2.243,0,0,1,1.462,12.8,14.648,14.648,0,0,1,1.2,8.883a14.763,14.763,0,0,1,.267-3.918A2.243,2.243,0,0,1,2.726,3.7a14.648,14.648,0,0,1,3.918-.267,14.763,14.763,0,0,1,3.918.267,2.243,2.243,0,0,1,1.263,1.263,14.648,14.648,0,0,1,.267,3.918A14.64,14.64,0,0,1,11.825,12.8Z"
                                        transform="translate(0.005 -2.238)" fill="#252e41" />
                                </svg></a></div>
                        <!-- <div class=" social-links"><a href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="15.185"
                                    height="12.333" viewBox="0 0 15.185 12.333">
                                    <path id="Icon_awesome-twitter" data-name="Icon awesome-twitter"
                                        d="M13.624,6.454c.01.135.01.27.01.4a8.794,8.794,0,0,1-8.855,8.855A8.8,8.8,0,0,1,0,14.317a6.438,6.438,0,0,0,.752.039,6.233,6.233,0,0,0,3.864-1.33,3.118,3.118,0,0,1-2.91-2.158,3.925,3.925,0,0,0,.588.048,3.292,3.292,0,0,0,.819-.106,3.113,3.113,0,0,1-2.5-3.054V7.717a3.134,3.134,0,0,0,1.407.4A3.117,3.117,0,0,1,1.06,3.949,8.846,8.846,0,0,0,7.477,7.206,7,7,0,0,1,7.4,6.493s1.387-3.112,3.112-3.112a3.1,3.1,0,0,1,2.274.983,6.127,6.127,0,0,0,1.975-.752,3.1,3.1,0,0,1-1.368,1.715,6.239,6.239,0,0,0,1.792-.482,6.69,6.69,0,0,1-1.561,1.609Z"
                                        transform="translate(0 -3.381)" fill="#252e41" />
                                </svg></a></div> -->
                        <div class=" social-links"><a href="" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="13.287"
                                    height="13.287" viewBox="0 0 13.287 13.287">
                                    <path id="Icon_awesome-linkedin-in" data-name="Icon awesome-linkedin-in"
                                        d="M2.974,13.288H.219V4.417H2.974ZM1.6,3.207a1.6,1.6,0,1,1,1.6-1.61A1.609,1.609,0,0,1,1.6,3.207ZM13.284,13.288H10.535V8.969c0-1.029-.021-2.349-1.432-2.349C7.671,6.62,7.451,7.738,7.451,8.9v4.392H4.7V4.417H7.342v1.21H7.38A2.9,2.9,0,0,1,9.987,4.194c2.788,0,3.3,1.836,3.3,4.22v4.873Z"
                                        transform="translate(0 -0.001)" fill="#252e41" />
                                </svg></a></div>
                        <!-- </div> -->
                    </div>
                    <div class=" header-cell links-header"><img src="img/Group 1633.svg" alt=""><a href="">+48 12 348 09 79</a> 
                    </div>
                    <div class=" header-cell links-header"><img src="img/Group 1631.svg" alt=""><a
                            href="">salvis@salivisexpert.pl</a></div>
                            <div id="search" class="header-cell center position-relative"><img src="img/search-index.svg" alt=""></div>
                            <input type="search" placeholder="Szukana fraza">
                </div>

            </div>


            <div class="cell menu-wrap shrink">
                <a id="hamburger" href="#"><span></span></a>
                <ul class="main-menu">
                    <li>
                        <a href="#">Twój Dom</a>
                        <ul class="sub-menu">
                            <!-- <li><a href="#">Submenu Item</a></li>
                        <li><a href="#">Submenu Item</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#">Twoja Firma</a>
                        <ul class="sub-menu">
                            <!-- <li><a href="#">Submenu Item</a></li>
                        <li><a href="#">Submenu Item</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#">Realizacje</a>
                        <ul class="sub-menu">
                            <!-- <li><a href="#">Submenu Item</a></li>
                        <li><a href="#">Submenu Item</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <!-- <li><a href="#">Submenu Item</a></li>
                        <li><a href="#">Submenu Item</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#">O nas</a>
                        <ul class="sub-menu">
                            <li><a href="#">Współpraca</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Kontakt</a>
                        <ul class="sub-menu">
                            <!-- <li><a href="#">Submenu Item</a></li>
                        <li><a href="#">Submenu Item</a></li> -->
                        </ul>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</header>
