<section class="strap">
    <div class="grid-x grid-container" style="justify-content: center;">
        <cell class="text-center medium-8 center title-no-margin-box ">
            <div>

                <h2 class="  big-title  no-margin-bottom-title">Sprawdź czy
                    <em>oszczędzanie
                    </em> jest dla
                    Ciebie dzięki bezpłatnej konsultacji</h2>
            </div>
        </cell>
        <cell class="text-center medium-4 center button-strap">
            <div class="button-mb">

                <a href="" class="button-white">zamów konsultację</a>
            </div>
        </cell>
    </div>

</section>