
    <!-- na stronie głównej video section posiada jeszcze klasę "height-100" -->
    
    <section class="section video-section">
        <div class="grid-container">
            <h2 class="big-title  text-center grid-container"><em>Autoryzowany partner</em>
                Bruk-Bet Solar</h2>
            <div class="grid-x grid-padding-x">
                <div class="cell large-6  video"><img class="video-movie-box" src="img/Capture.jpg" alt=""></div>
                <div class="cell large-6 center">
                    <p>Bruk-Bet Solar posiada w swojej ofercie szeroki wachlarz modułów multikrystalicznych,
                        monokrystalicznych i BIPV (Building Integrated Photovoltaics), które są produkowane ze
                        standardowymi ogniwami oraz ogniwami wykonanymi w innowacyjnej technologii PERC, poprawiającej
                        efektywność produktu. Produkty Bruk-Bet Solar powstają przy wykorzystaniu najnowszych
                        technologii do produkcji krzemowych modułów fotowoltaicznych, m.in. na sprzęcie szwajcarskiej
                        firmy Meyer Burger.</p>
                </div>
            </div>
        </div>
    </section>