h1{font-size:2em;margin:.67em 0}
.text-page__article h1,
.text-page__article h2,
.text-page__article h3,
.text-page__article h4,
.text-page__article h5,
.text-page__article h6{
	font-family:Montserrat;
	font-weight:400
}
.text-page__article h1 strong,
.text-page__article h2 strong,
.text-page__article h3 strong,
.text-page__article h4 strong,
.text-page__article h5 strong,
.text-page__article h6 strong{
	font-weight:900
}
.text-page__article h2{
	font-size:1.8rem
}
@media (min-width:768px){
	.text-page__article h2{
		font-size:2.5rem
	}
}

.product-tile-big:hover h2{
	color:#fff
}

.product-tile-small:hover h2,
.product-tile-small:hover h3{
	color:#fff
}

.contact-form__banner-bottom h2{
	color:#fff;
	font-family:Montserrat;
	font-size:1.5625rem;
	font-weight:300;
	padding-bottom:20px
}


#news-content h1,
#news-content h2,
#news-content h3,
#news-content h4,
#news-content h5,
#news-content h6 {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
	font-weight: 600;
}


#news-content h1 {
	font-size: 1.5em;	
}

#news-content h2,
#news-content h3,
#news-content h4 {
	font-size: 1.2em;
}

#news-content h5,
#news-content h6 {
	font-size: 1em;
}


@media(min-width: 992px){
	.page-content-section-list h2 {
		min-height: 90px;
	}
}

.course-details__message-title h3 {
	margin: 0;
	font-size: 19px;
	font-weight: 900;
}

.product-tile-big:hover h3 {
    color: #fff;
}
