.main-nav__secondary-menu .pll-parent-menu-item>.sub-menu {
	right: -5px;
	top: 44px;
}
.main-nav__secondary-menu .pll-parent-menu-item>.sub-menu li,
.main-nav__secondary-menu .pll-parent-menu-item>.sub-menu a {
	display: block;
}

#content {
/* 	overflow: hidden; */
}
.icon__search {
	cursor: pointer;
	height: 24px;
	padding: 3px 0;
}
.icon__search:hover svg {
	fill: #fff;
}

*:focus {
	outline: none !important;
}
@media(min-width: 1440px){
	.container.wide {
		max-width: 1360px;
	}
}
@media(min-width: 1680px){
	.container.wide {
		max-width: 1430px;
	}	
}

@media (min-width: 1200px){
	.nav-padding {
/* 	  padding-top: 116px; */
	  padding-top: 62px;
	}
}

.button-yellow {
	background: #fdcc28;
	border-color: #fdcc28;
	color: #fff;
	
}

.button-yellow-gradient {
	position: relative;
	overflow: hidden;
	background: #fdcc28;
	display: inline-block;
}
.button-yellow-gradient:hover {
	background: #00499d;
	color: #fff;	
}
.button-yellow-gradient:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: -webkit-gradient(linear,left top,right top,from(#fdcc28),to(#eea800));
  background: -webkit-linear-gradient(left,#fdcc28,#eea800);
  background: linear-gradient(90deg,#fdcc28,#eea800);
	transition: opacity 0.3s ease-in-out;
	z-index: -1;
}
.button-yellow-gradient:hover:before {
	opacity: 0;	
}


a.homepage-products__slider-single .yellow {
	transition: 0.3s ease-in-out;
}
.homepage-products__slider-single__title {
	font-size: 13px;
}
.homepage-products__slider-single__title span {
	font-size: 14px;
}
a.homepage-products__slider-single {
	transition: 0.3s ease-in-out;
}
a.homepage-products__slider-single:hover {
	border-bottom-color: #00499d;
}
a.homepage-products__slider-single:hover .yellow {
	color: #00499d;
}

.main-nav__logo {
	height: 54.8px;
}

.main-nav__logo-link {
	transition: opacity 0.3s ease-in-out;
}
.main-nav__logo-link:hover {
	opacity: 0.8;
}

.main-nav__inline-menu > li {
	flex: 1 0 auto;
	text-align: center;
}
.main-nav__inline-menu .sub-menu {
	text-align: left;
}

body .construction__el {
/* 	transition: margin 1.5s cubic-bezier(0.645, 0.045, 0.355, 1); */
	transition: margin 1.5s linear;
}

body .product-list__header {
	padding-top: 60px;
	padding-bottom: 60px;
	min-height: 0;
}
@media (min-width: 768px){
	body .product-list__header {
		padding-top: 90px;
		padding-bottom: 160px;
	}
}

body .construction__el {
	z-index: auto !important;
  margin-bottom: -38.73874%;
}

body .construction__el-open {
	z-index: auto !important;
  margin-bottom: -25%;
  margin-top: 10%;
}

body .construction__el img {
	position: relative;
}

body .construction__el .construction__el-label-wrapper {
	z-index: 20;
}
body .construction__el-label-wrapper__closed {
	transform: scale(0.125);
	
}
body .construction__el-label-wrapper__closed:hover {
	transform: scale(0.15);
}

body .main-nav__menu .sub-menu {
	transition: opacity .3s ease-in-out,top .3s ease-in-out;
	opacity: 0;
}

.main-nav .product-categories-menu .product-category-menu>ul>li:hover a {
	background: none;
}

body .contact-form__banner-bottom--left:hover .button,
body .contact-form__banner-bottom--right:hover .button {
    color: #fff;
    background-color: #0f71ab;
    border: 2px solid #0f71ab;
}

.sub-menu__is-open {
	opacity: 1 !important;
	z-index: 10;
}
.main-nav__menu--open {
	transform: scaleY(1) !important;
}

.main-nav__menu .sub-menu {
	background-color: #0054a8;
	grid-template-columns: 270px 270px;
}
.main-nav__menu .sub-menu>li>a {
	display: block;
}
body .main-nav__menu .sub-menu>li>a:before {
	content: 'chevron_right';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  width: auto;
  height: auto;
  margin: 0 5px 0 0;
  transform: translateY(3px);
  font-size: 1.2em;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
body .main-nav__menu .sub-menu>li>a:hover:before {
	opacity: 1;	
}

@media (min-width: 1400px) {
	.download-menu .sub-menu {
    padding-left: 59%;
	}
}
@media (min-width: 1600px) {
	.download-menu .sub-menu {
    padding-left: 53%;
	}
}
.slick-initialized .hero__slider-single {
	display: flex !important;
	align-items: center;
	padding: 30px 0 20px;
}
.hero__slider-single > * {
	width: 100%;
}

.hero__video {
	width: auto !important;
}

.hero__slider .slick-track {
	display: flex;
}
.hero__slider .slick-track:before,
.hero__slider .slick-track:after {
	display: none;
}
.hero__slider .slick-track .slick-slide {
	height: auto;
	float: none;
}

.hero-slider__text-wrapper {
	max-width: 1400px;	
}

.hero__title-big,
.hero-slider__product__title {
	font-size: 1.5rem;
}
.hero-slider__product__title--sm {
  font-size: .8rem;
}
@media (min-width: 400px) {
	.hero__title-big,
	.hero-slider__product__title {
		font-size: 2rem;
	}
	.hero-slider__product__title--sm {
	  font-size: .7rem;
	}
}

@media (min-width: 768px) {
	.hero__title-big,
	.hero-slider__product__title {
		font-size: 2.5rem;
	}
	.hero-slider__product__title--sm {
		font-size: 1.0625rem;
	}
}
@media (min-width: 1024px){
	.hero__title-big {
		font-size: 3rem;
	}
	.hero-slider__product__title {
    font-size: 2rem;
	}
	.hero-slider__product__title--sm {
		font-size: 1.0625rem;
	}
	.hero-slider__product__title--sm {
		font-size: 1.0625rem;
	}
}
@media (min-width: 1300px){
	.hero-slider__product__title {
    font-size: 3rem;
	}
	.hero-slider__product__title--sm {
		font-size: 1.0625rem;
	}
}

.hero {
	position: relative;
}
#home-slider-arrow {
	position: absolute;
	left: 50%;
	bottom: 60px;
	
	transform: translateX(-50%);
	color: #C5C5C5;
}
#home-slider-arrow:hover {
	color: #fdcc28;
}
#home-slider-arrow i {
	display: block;
	font-size: 40px;
	transform: rotate(90deg);
}

body .contact__header__email>a:hover {
	color: #fff;
}
.footer__partners-logo a {
	transition: 0.3s ease-out;
}
.footer__partners-logo a:hover {
	opacity: 0.8;
}
@media (min-width: 768px) and (max-width: 1199px){
	.footer__partners-logo[class*="col"] {
    max-width: calc(25% - 1rem);
/*     margin-right: 1rem !important; */
	}
	.footer__partners-logo img {
		max-width: 100%;
	}
}
@media(min-width: 768px){
	.foot-logos-row {
		flex-wrap: nowrap;
		justify-content: space-between;	
	}
}

@media (max-width: 991px){
	.foot-logos-row {
		justify-content: center;
	}
}

@media (max-width: 767px){
	.products-cat__list > .container,
	.product-list__tiles > .container-tiles--big {
		max-width: 100%;	
	}
}

.breadcrumbs a:hover {
    color: #ffd500;
}


.about__section-0,
.course {
	min-height: 0;
}
.course > .nav-padding {
	padding-top: 0 !important;
}
@media (min-width: 769px) and (max-width: 991px){
	.about__section-0,
	.course {
		padding: 150px 0 100px;
	}
}

@media (min-width: 992px){
	.about__section-0,
	.course {
		padding: 150px 0 100px;
	}
}


@media (min-width: 1200px){
	.about__section-0,
	.course {
		min-height: 80vh;	
		padding: 216px 0 100px;
	}
}


.text-page__header {
	min-height: 0;
	padding: 100px 0 50px;
}

@media (min-width: 768px) {
	.text-page__header {
		padding: 150px 0 100px;	
	}
}

@media (min-width: 1200px) {
	.text-page__header {
		padding: 150px 0 100px;	
/* 		padding: 220px 0 100px;	 */
	}
}

.main-nav__desktop-nav {
  display: flex;
}
.main-nav__desktop-nav.expand {
	flex: 1;
}

.main-nav > .container-fluid {
	max-width: 1680px;
}

@media (max-width: 1199px) {
	.main-nav__desktop-nav {
    display: none;
	}
}

#content,
.course-details__header {
	min-height: 0;
}

.text-page__article__wrapper .page-content-section [class*="mb"]:last-child{
	margin-bottom: 0 !important;
}

.text-page__article__list-text:last-child {
	margin-bottom: 0;
}
@media (max-width: 991px){ 
	.text-page__footer-links .button--big {
		margin: 0;
	}
}

.course-form__header__text p a:hover {
	color: rgba(255,255,255,0.6);
}

@media (max-width: 768px) {
	.course {
    background-image: url('http://wpstrony.linuxpl.info/solar/wp-content/uploads/2019/06/background-4-1024x549.jpg')!important;
/*     background-color: #00499d; */
	}
}


.course_2__info {
	max-width: 352px;
}
@media (min-width: 1200px){
	.course_2__info {
		padding: 70px 70px 50px 75px;		
	}
}

.course_2__info__details {
	padding-bottom: 2rem !important;
}

.course-form__header__title {
	max-width: 900px;
}


.download__section__link {
	display: inline-flex;
/* 	align-items: center; */
}
.download__section__link:hover .icon {
	background: #FFD657;
}
.download__section__link .icon {
	transition: background 0.3s ease-in-out;
	width: 41px;
	height: 41px;
	background: #004C9B;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 18px;
}
.download__section__file__meta {
/* 	margin-bottom: 0; */
}

.mobile-nav__bar-bottom, .mobile-nav__bar-mid, .mobile-nav__bar-top {
	height: 2px;
}
.mobile-nav__menu .current-menu-item a, .mobile-nav__menu li a {
	transition: 0.3s ease-in-out;
}
.mobile-nav__menu .current-menu-item a, .mobile-nav__menu li a:hover {
	background: #FFD657;
	color: #004C9B;
}

.main-nav .product-categories-menu .product-category-menu>.sub-menu {
	grid-template-columns: 220px 220px 220px;
}

@media (max-width: 1399px){
	.main-nav .product-categories-menu>.sub-menu {
		padding: 0 100px;
	}
}

.main-nav .product-categories-menu>.sub-menu {
	min-height: 128px;
}

.contact__header__text-block-co {
	margin-bottom: 25px;
}
.contact__header__text-block-co p:last-child {
	margin-bottom: 0;
}

@media (min-width: 576px) and (max-width: 991px){
	.contact__header__text-block-co {
		margin-bottom: 0;
	}
}

@media (max-width: 991px){
	.contact-bottom-text-wrap {
		width: 100%;
	}
}
@media(min-width: 992px){
	.contact-bottom-text-wrap > .row {
		display: inline-block;	
	}
}

@media(max-width: 575px){
	.download__header__title {
		font-size: 2rem;
	}
}


.mobile-nav {
	overflow-y: auto;
	top: 50px;
}
.mobile-nav__secondary-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	width: 100%;
	max-width: none;
}
.mobile-nav__secondary-menu > li {
	order: 10;
	padding: 0 10px;
	margin-bottom: 15px;
	width: auto;
}
.mobile-nav__secondary-menu .pll-parent-menu-item {
	order: 2;
	width: 100%;
}
.mobile-nav__secondary-menu .pll-parent-menu-item > a {
	display: none;
}
.mobile-nav__secondary-menu .pll-parent-menu-item .sub-menu {
	display: flex !important;
	padding: 0;
	justify-content: center;
}
.mobile-nav__secondary-menu .pll-parent-menu-item .sub-menu li {
	padding: 0 10px;
}
.mobile-nav__secondary-menu .pll-parent-menu-item .sub-menu li a {
	color: rgba(255,255,255,0.6);
}
.mobile-nav__secondary-menu .pll-parent-menu-item .sub-menu li.current-lang a,
.mobile-nav__secondary-menu .pll-parent-menu-item .sub-menu li a:hover {
	color: #fff;
}
.mobile-nav__secondary-menu .icon__search {
	order: 1;
	width: 100%;
}

.main-nav__menu .realization-menu .sub-menu {
	background-position: right center;	
	background-size: 500px auto;
	background-repeat: no-repeat;
}
@media(min-width: 1200px) and (max-width: 1299px){
	.main-nav__menu .sub-menu {
		padding-left: 210px;
	}
	.main-nav__menu .about-menu .sub-menu {
    grid-template-columns: 230px 230px;	
    background-position-x: calc(230px + 230px + 210px);
	}
	.main-nav__menu .install-menu .sub-menu {
    grid-template-columns: 280px 280px;
    background-position-x: calc(280px + 280px + 210px);
    background-size: calc( 100vw - (280px + 280px + 210px) );
	}
}
@media(min-width: 1300px) {
	.main-nav__menu .sub-menu {
/*     grid-template-columns: 230px 230px;	 */
/*     background-position-x: calc(280px + 280px + 210px); */
	}
}
@media(min-width: 1300px) and (max-width: 1349px){
	.main-nav__menu .sub-menu {
		padding-left: 240px;
	}
	.main-nav__menu .about-menu .sub-menu {
    background-position-x: calc(230px + 230px + 240px);
    grid-template-columns: 230px 230px;	
	}
	.main-nav__menu .install-menu .sub-menu {
    grid-template-columns: 300px 300px;	
    background-position-x: calc(300px + 300px + 240px);
    background-size: calc( 100vw - (300px + 300px + 240px) );
	}
}
@media(min-width: 1350px) and (max-width: 1399px){
	.main-nav__menu .sub-menu {
		padding-left: 260px;
	}
	.main-nav__menu .about-menu .sub-menu {
    background-position-x: calc(250px + 250px + 260px);
    grid-template-columns: 250px 250px;	
	}
	.main-nav__menu .install-menu .sub-menu {
    grid-template-columns: 300px 300px;	
    background-position-x: calc(300px + 300px + 260px);
    background-size: calc( 100vw - (300px + 300px + 260px) );
	}
}
@media(min-width: 1400px) {
	.main-nav__menu .sub-menu {
		padding-left: 270px;
	}
	.main-nav__menu .about-menu .sub-menu {
    grid-template-columns: 250px 250px;	
    background-position-x: calc(250px + 250px + 270px);
	}
	.main-nav__menu .install-menu .sub-menu {
    grid-template-columns: 300px 300px;	
    background-position-x: calc(300px + 300px + 270px);
    background-size: calc( 100vw - (300px + 300px + 270px) );
	}
}
@media(min-width: 1420px) {
	.main-nav__menu .about-menu .sub-menu {
		background-size: contain;
		background-position-x: right;	
	}
	.main-nav__menu .install-menu .sub-menu {
    background-position-x: right;
    background-size: 500px;
	}
	
}
@media(min-width: 1500px) {
	.main-nav__menu .sub-menu {
		padding-left: 290px;
	}
}
@media(min-width: 1600px) {
	.main-nav__menu .sub-menu {
		padding-left: 320px;
	}
}

.download-menu .sub-menu {
  padding-left: 66%;
}
@media (min-width: 1400px){
	.download-menu .sub-menu {
    padding-left: 60%;
	}
}



.map-page-section {
/* 	background: url(../img/map_bg.jpg) no-repeat left bottom; */
/* 	background-size: cover; */
	display: flex;
	height: 100vh;
	position: relative;
	z-index: 2;
}

.map-bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	background: url(../img/map_bg.jpg) no-repeat left bottom;

}

.map-page-section > .container {
	display: flex;
}
.map-page-section > .container > .row {
	width: calc(100% + 30px);
}

.map-section-map {
	display: flex;
/* 	align-items: center; */
	height: 100vh;
	position: fixed;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	top: 0;
	z-index: 5;
/* 	overflow: hidden; */
}

.map-section-map .map-page-title {
	margin: 20px 0 30px;
	font-size: 30px;
}

.hp-map__pin.grey {
	background: #999 !important;
}

.map-page-section .hp-map__map-wrapper {
	margin: 0 !important;
	max-width: 100%;
}

.hp-map__map-wrapper > img {
	filter: drop-shadow(0 1px 14px rgba(0,0,0,0.15));
}
.map-page-section .hp-map__map-wrapper  {
	display: inline-block;
}
.map-page-section .hp-map__map-wrapper > img {
	width: auto !important;
	height: auto !important;
	max-width: 100%;
	max-height: calc(100vh - 180px);	
}

.page-template-mapa #content {
	position: relative;
}


.map-list-bg {
	background: url(../img/map_list_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

.map-list-bg-mobile {
	background: url(../img/map_list_bg.jpg) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	z-index: 1;
	top: 0;
	left: -15px;
	right: -15px;
	bottom: 0;
}


.map-bg-mobile {
	background: url(../img/map_bg.jpg) no-repeat left bottom;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media(max-width: 991px){
	.map-page-section {
		height: auto;
	}
	.map-bg {
		display: none;
	}
	.map-section-map {
		position: static;	
		height: auto;
		padding-bottom: 40px;
	}
	.map-page-section .hp-map__map-wrapper  {
		margin: auto !important;
	}
	.map-section-list {
		padding-bottom: 20px;
		padding-top: 0 !important;
	}
}

@media( min-width: 576px ){
	.map-list-bg-mobile {
		left: calc( (540px - 100vw)/2 - 15px );
		right: calc( (540px - 100vw)/2 - 15px );
	}
	.map-bg-mobile {
		left: calc( (540px - 100vw)/2 );
		right: calc( (540px - 100vw)/2 );
	}
}

@media( min-width: 768px ){
	.map-list-bg-mobile {
		right: calc( (720px - 100vw)/2 - 15px );
		left: calc( (720px - 100vw)/2 - 15px );
	}
	.map-bg-mobile {
		left: calc( (720px - 100vw)/2 );
		right: calc( (720px - 100vw)/2 );
	}
}
@media( min-width: 992px ){
	.map-list-bg-mobile {
		display: none;
	}
	.map-list-bg {
		display: block;
		left: calc( (100vw - 960px)/2 + 960px * 6/12 - 150px );
	}
}
@media( min-width: 1200px ){
	.map-list-bg {
		left: calc( (100vw - 1140px)/2 + 1140px * 7/12 - 300px );
/* 		right: calc( (1140px - 100vw)/2 - 15px ); */
	}
}
@media( min-width: 1440px ){
	.container.wide {
		max-width: 1340px;
	}	
	.map-list-bg {
		left: calc( (100vw - 1340px)/2 + 1340px * 7/12 - 300px );
/* 		right: calc( (1340px - 100vw)/2 - 15px ); */
	}
}

.map-row {
	align-items: flex-start;
}

.map-section-list {
	width: 100%;
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.map-map-col {
	align-self: center;
	justify-content: center;
}

.map-list-col,
.map-map-col {
	display: flex;
}

.map-list-items {
	position: relative;
	z-index: 10;
	padding: 40px 0 60px;
	color: #fff;
	margin: 0 auto;
	width: 100%;
}

.map-list-items-wrap {
	display: flex;
	margin: -15px;
	flex-wrap: wrap;
}


.map-list-item {
	padding: 0 15px;
	width: 100%;
	flex: 0 0 100%;
}


@media(min-width: 576px){
	.map-list-items {
		padding: 60px 0 80px;
	}
	.map-list-item {
		width: 50%;
		flex: 0 0 50%;
	}
}

@media(min-width: 992px){
	.map-list-items {
		max-width: 400px;	
	}
	.map-list-item {
		width: 100%;
		flex: 0 0 100%;
	}
}

.map-list-item:not(:last-child) {
	margin-bottom: 30px;
}
.map-list-item-title {
	font-size: 18px;
}
.map-list-item-description p{
	font-size: 12px;
	opacity: 0.6;
	color: #fff;
	margin-bottom: 0;
}

.map-page-title {
	font-family: Montserrat;
	font-size: 38px;
	text-transform: uppercase;
	margin-bottom: 60px;
}


.map-page-title strong {
	font-weight: 900;
	color: #FFD657;
}

.map-foot-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	text-align: left;
  font-size: .5rem;
}
.map-foot-wrap p {
	color: rgba(255,255,255,0.6);
}
@media(min-width: 992px){
	.map-foot-wrap {
		position: fixed;	
	}

	.map-foot-wrap p {
		color: rgba(0,0,0,0.3);
	}
}
.map-foot-wrap a:not(:hover){
	color: inherit;
}


.homepage-products__featured__text {
	top: 50%;
  transform: translateY(-50%) rotate(90deg) translateY(-40px);
}

@media(min-width: 768px){
	.homepage-products__featured-img {
    margin: 10px 0;
	}
	
}
@media(min-width: 992px){
	.homepage-products__featured-img {
    margin: 10px 0 10px -60px;
	}
}





.new-construction {
	background-size: auto !important;
	background-position: center top;
}

.new-construction .construction__el-elements {
	margin-top: 60px;
}

.new-construction .construction__el-new {
	position: relative;
	height: 70px;
	margin: 0;
	transition: 1.2s ease;
	box-sizing: content-box;
	display: flex;
	height: 70px;
/* 	height: calc(40px + 70px + 40px); */
/* 	margin: -40px 0 !important; */
}

.new-construction .construction__el-open {
	margin: 40px 0 !important;
/* 	margin: 0 !important; */
}

.new-construction .margin-spacer {
	width: 100%;
	display: block;
	padding-bottom: 1px;
}

.new-construction .construction__el-open:first-child {
/* 	padding-top: 0 !important; */
}
.new-construction .construction__el-open:last-child {
/* 	padding-bottom: 0 !important; */
}

.new-construction .construction__el-inner {
	position: relative;
	width: 100%;
}
.new-construction .construction__el-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.new-construction .construction__el-open .construction__el-wrap > img {
	filter: drop-shadow(0 0 3px rgba(254, 209, 48, 1));	
}

.new-construction .construction__el-wrap > img {
	display: block;
	transform: translateZ(0);
	position: relative;
	transition: all 0.3s ease;
	filter: drop-shadow(0 0 3px rgba(254, 209, 48, 0));	
}

.new-construction .construction__el-label-wrapper {
	position: absolute;
	bottom: 30px;
	left: 40%;
	transform: translate(-50%, 50%);
	z-index: 40;
	margin: 0;
}
.new-construction .construction__el-open .construction__el-label-wrapper {
	z-index: 50;
}
body .new-construction  .construction__el-label-wrapper__closed {
	transform: translate(-50%, 50%) scale(0.12);
	cursor: pointer;
}

body .new-construction .construction__el-label-wrapper__closed:hover {
	transform: translate(-50%, 50%) scale(0.15);
}

.construction__el-label__header {
	font-size: 12px;
}
.construction__el-label__text {
	font-size: 11px;
}
.new-construction .construction__el-label-inner p:last-child {
/* 	margin-bottom: 0; */
}



.hp-offer__link {
	max-width: 320px;
	margin: auto;
}

.hp-offer__image-wrapper {
	height: auto;
	min-height: 80px;
	max-height: 120px;
}
.hp-offer__image-wrapper img {
	max-height: 100px;
}




.icon__search {
	position: relative;
}
.main-nav .icon__search:before {
	color: rgba(255,255,255,0.6);
	content: 'close';
	position: absolute;
	top: 0;
	left: 10px;
	right: 10px;
	cursor: pointer;
	bottom: 0;
	background: #004c9b;
	display: inline-block;
	opacity: 0;
	
	font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  transition: 0.3s ease-out;
}
.icon__search:hover:before {
	color: #fff;
}
.icon__search.active:before {
	opacity: 1;
}


.search-form-wrap {
	display: none;
}
.searchform .field {
	height: 100%;
	align-self: stretch;
	margin-right: 1rem;
	border-bottom: 1px solid rgba(255,255,255,0.5) !important;
	color: #fff;
}
.searchform ::placeholder {
	color: rgba(255,255,255,0.6);
}
.searchform [type="submit"]{
	background: none;
	border: none;
	display: block;
	padding: 0;
	color: #fff;
	transition: color .3s ease-out;
}
.searchform [type="submit"]:hover {
	color: #FFD657;
}
.searchform [type="submit"] i {
	display: block;
}

.main-nav.has-search {
	background: #004c9b;
}
.main-nav__desktop-nav {
	position: relative;
}
.main-nav__desktop-nav .search-form-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: 0 40px;
	background: #004c9b;
}
.main-nav__desktop-nav .search-form-wrap .inner {
	height: 100%;
	display: flex;
	align-items: center;
}
.searchform {
	width: 100%;
	display: flex;
	align-items: center;
}

.search-form-wrap.mobile {
	display: block;
	max-width: 320px;
	margin: 0 auto;
}
.mobile-nav .icon__search svg {
	display: none;
}


.button {
	transition: all .3s ease-in-out !important;
}

.hp-text-slider .slick-dots {
	bottom: 0px;
}

.product-tile-big__title {
	transition: color 0.3s ease-in-out;
}

.button.fade-to-yellow:hover,
.button--yellow-on-hover:hover {
	background: #f6d454;
	color: #fff;
	border-color: #f6d454;
}

.hero__slider:not(.slick-initialized){
	display: flex;
	overflow: hidden;
}
.hero__slider:not(.slick-initialized) > * {
	width: 100%;
	flex: 0 0 100%;
}

.tooltip-inner p {
	margin-bottom: 0;
}

#news-header {
	background: url(../img/news_bg.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	overflow: hidden;
}
#news-header .breadcrumbs {
	margin-bottom: 16px;
}
#news-header .page-title {
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0 0 28px;
}

@media (min-width: 576px){
	#news-header .page-title {
		font-size: 40px;
	}
}
@media (min-width: 768px){
	#news-header .page-title {
		font-size: 60px;
	}
}

.news-header-inner {
	padding-top: 48px;
}

.categories-nav a {
	color: #fff;
}
.categories-nav {
	display: flex;
	font-weight: 600;
	flex-direction: column;
	margin-bottom: 20px;
}

.categories-nav .nav-item {
	margin: 0 0 5px;
	text-transform: lowercase;
}
.categories-nav .current-cat {
	font-weight: 900;
}
.categories-nav a:hover,
.categories-nav .current-cat a {
	color: #FFD657;
}
.categories-nav .current-cat {
	border-bottom-color: #FFD657 !important;
}


/* @media (min-width: 576px){ */
	.categories-nav {
		flex-direction: row;	
		margin: 0 -10px 20px;
		flex-wrap: wrap;
	}
	.categories-nav .nav-item {
		margin: 0 10px 10px;
	}
	
/* } */

@media (min-width: 768px){
	.categories-nav {
		margin: 0 -10px;
		flex-wrap: nowrap;
		
	}
	.categories-nav .nav-item {
		margin: 0 10px;
		padding-bottom: 32px;
		border-bottom: 2px solid transparent;
		
	}
}

@media (min-width: 1024px){
	.categories-nav {	
		margin: 0 -24px;
	}
	.categories-nav .nav-item {
		margin: 0 24px;
		
	}
}


#news-list {
	padding: 40px 0 60px;
	background: url(../img/bg_news_list_2.jpg) repeat-x center top;
}
@media (min-width: 768px){
	#news-list {
		padding: 90px 0 120px;
	}
}

.loop-post-wrap {
	margin-bottom: 40px;
}

@media (min-width: 768px){
	.loop-post-wrap {
		margin-bottom: 80px;
	}
	.loop-post-wrap .post-title {
		font-size: 25px;
		
	}
}

.loop-post-wrap .img-link {
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
}
.loop-post-wrap .img-link img {
	transition: 0.3s ease-out;
	display: block;
	width: 100%;
}
.loop-post-wrap .img-link:hover img {
	transform: scale(1.05);
}

.loop-post-wrap .post-title {
	font-family: Montserrat;
	font-weight: normal;
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
}
.loop-post-wrap .post-title a:not(:hover){
	color: inherit;
}

.loop-post-wrap .excerpt {
	font-family: Roboto;
	font-weight: normal;
	font-size: 16px;
	color: #565656;

}

#news-header.single-news-header {
	padding-bottom: 10px;
}
#news-header .single-page-title {
	font-size: 24px;
}


#news-content {
	padding: 40px 0;	
	background: url(../img/bg_news_list_2.jpg) repeat-x center top;
}

#news-content a,
.text-page__article a {
	word-break: break-all;
}

#news-content .table-wrapper,
.text-page__article .table-wrapper {
	width: 100%;
	overflow-y: auto;
}

#news-content table td,
.text-page__article table td {
	padding: 0 0.5em;	
}
#news-content table td:first-child,
.text-page__article table td:first-child {
	padding-left: 0;	
}
#news-content table td:last-child,
.text-page__article table td:last-child {
	padding-right: 0;	
}

#news-content strong {
	font-weight: 600;
}


.post-featured-content {
	font-family: Montserrat;
	font-weight: normal;
	font-size: 18px;
	color: #000;
	margin-bottom: 48px;
}

.back-button-wrap {
	padding-top: 40px;
}
@media (min-width: 576px){
	#news-content {
		padding: 50px 0 70px;
	}
	#news-header .single-page-title {
		font-size: 32px;
	}
	.post-featured-content {
		font-size: 23px;
	}
	
	.back-button-wrap {
		padding-top: 60px;
	}
}
@media (min-width: 768px){
	#news-content {
		padding: 70px 0 110px;
	}
	#news-header .single-page-title {
		font-size: 42px;
	}

	#news-header.single-news-header {
		padding-bottom: 30px;
	}
	.back-button-wrap {
		padding-top: 100px;
	}
}

.post-featured-content p {
	color: inherit;
}

.post-featured-content:after {
	display: block;
	content: '';
	width: 48px;
	margin-top: 40px;
	border-bottom: 3px solid #005CA8;
}




[data-loadmore] {
	margin: 0 auto;
	display: inline-flex;
	align-items: center;
	padding-top: .25em;
	padding-bottom: .25em;
	min-height: 41px;
}
[data-loadmore] span:not(.text) {
	padding-left: 0.9em;
}
[data-loadmore] .loading {
	display: none;
}

[data-loadmore] .loading i {
	animation: spin 1s linear infinite;
	display: block;
}
[data-loadmore].is-loading {
	opacity: .7;
	pointer-events: none;
}

@keyframes spin {
	from { transform: rotate(0) }
	to { transform: rotate(360deg) }
}




.gallery {
	display: flex;
	margin: -10px !important;
	flex-flow: row wrap;
}
.gallery .gallery-item {
	padding: 10px;
	margin: 0 !important;
}

@media(max-width: 767px){
	.gallery:not(.gallery-columns-1) .gallery-item {
		width: 50% !important;
	}
}

.gallery .gallery-item img {
	border: none !important;	
	width: 100%;
	transition: 0.3s ease-out;
}

.gallery .gallery-item a {
	display: block;
	overflow: hidden;
}
.gallery .gallery-item a:hover img {
	transform: scale(1.05);
}

.wpcf7-form {
	position: relative;
}
#wpcf7-f4457-o1 {
	max-width: 460px;
	margin: 0 auto;
	
}
.wpcf7-form ::placeholder {
    font-family: Montserrat;
    color: rgba(0,0,0,.7);
    font-weight: 300;
}
.wpcf7-form p {
	margin-bottom: 0;
}
.wpcf7-form br {
	display: none;
}
.wpcf7-form .wpcf7-form-control-wrap {
	display: block;
/* 	margin-bottom: 1.5em; */
}

.wpcf7-form .wpcf7-not-valid-tip {
	font-size: 12px;
}
.wpcf7-form label {
	opacity: 1 !important;
}
.wpcf7-form label:not(.animated-label){
	transform: none !important;
	font-weight: 400;
}

.contact-form__title {
	font-weight: 600 !important;
}

.wpcf7-checkbox,
.wpcf7-radio {
	display: flex;
	margin: -10px;
	flex-wrap: wrap;
}
.wpcf7-checkbox .wpcf7-list-item,
.wpcf7-radio .wpcf7-list-item {
	padding: 10px;
	margin: 0;
}

.wpcf7-checkbox .wpcf7-list-item label,
.wpcf7-radio .wpcf7-list-item label {
	display: flex;
	align-items: center;
	white-space: nowrap;
font-size: 1.125rem;
    color: rgba(0,0,0,.78);
    font-weight: 500;
}

.wpcf7-checkbox .wpcf7-list-item label input,
.wpcf7-radio .wpcf7-list-item label input {
	width: auto;
	margin-right: 10px;
}

.wpcf7-checkbox {
	
}

.wpcf7-form select {
	width: 100%;
	background-color: transparent;
  border: none;
  border-radius: 0;
  height: 36px;
  border-bottom: 2px solid #f6f6f6;
  border-radius: 0;
  width: 100%;
  padding: 8px 0;
  font-family: Montserrat;
  font-weight: 600;
  background: transparent;
  position: relative;
  z-index: 2;
  appearance: none;
  -webkit-appearance: none;
  color: rgba(0,0,0,.7);
  font-weight: 300;
  
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
}

.wpcf7-form p {
	position: relative;
}
.wpcf7-form .ajax-loader {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.wpcf7-form .wpcf7-response-output {
	margin: 0;
	padding: 0.5em;
	font-size: 14px;
}

.wpcf7-form .form-wrap.col2 {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.wpcf7-form .form-wrap.col2 .col {
	padding: 0 10px;
	width: 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
@media(min-width: 768px){
	.wpcf7-form .form-wrap.col2 .col {
		width: 50%;
		flex: 0 0 50%;
		max-width: 50%;
		
	}
}

.wpcf7-form .small {
	color: rgba(0,0,0,.6);
}

.wpcf7-form .form-wrap.col2 .col.w2 {
	width: 100% !important;
	flex: 0 0 100% !important;
	max-width: 100% !important;
}

[type="submit"]{
	display: block;
	margin: 0 auto;
}
[type="submit"].button {
		width: auto;
		border-width: 1px;
    text-transform: uppercase;
    color: #0f71ab;
    font-size: .8125rem;
    border-radius: 20px;
    padding: 8px 25px;
    font-weight: 900;
}
[type="submit"].button-blue {
    background-color: #00499d;
    color: #fff;
    border: 2px solid #00499d;
}

[type="submit"].button--yellow-on-hover:hover {
  background: #f6d454;
  color: #fff;
  border-color: #f6d454;
}


.text-page__article__list-text {
	color: #565656;
}
.text-page__article__list-text p {
	color: inherit;
}

.product-list__description {
	color: #fff;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.product-list__description p {
	color: inherit;
}


.main-nav {
	background: #004c9b;
}
.main-nav__inline-menu.main-nav__menu>li>a {
	padding: 20px 0;
}
.main-nav__logo {
  -webkit-transform: scale(.7);
  transform: scale(.7);
  -webkit-transform-origin: left;
  transform-origin: left;
}
.main-nav__menu > li > .sub-menu {
  top: 60px;
}

.hero__slider-single {
	/* min-height: calc(100vh - 60px); */
	min-height: calc(100vh - 120px);
}

@media (min-width: 1348px) {
	.main-nav__menu > li > .sub-menu {
	  top: 61px !important;
	}
}
.hero {
	padding-top: 54px;
}

.hero__slider-single-video {
	min-height: 52.8125vw !important;
}
.hero__slider-single {
	min-height: calc(100vh - 130px);
/* 	min-height: 0 !important */
}

@media (min-width: 768px){
	.hero__slider-single {
		min-height: calc(100vh - 118px);
	/* 	min-height: 0 !important */
	}
	
}

@media(min-width: 1200px){
	.hero {
		padding-top: 60px;
	}

	/* .hero__slider-single {
		min-height: calc(100vh - 60px);
		min-height: calc(100vh - 120px);
	} */
}

.hero-slider__product__image {
	max-height: 300px;
	width: auto !important;
}
@media(min-width: 600px){
	.hero-slider__product__image {
		max-height: 400px;
	}
}
@media(min-width: 992px){
	.hero-slider__product__image {
		max-height: 400px;
	}
}

@media(min-width: 1400px){
	.hero-slider__product__image {
		max-height: 500px;
	}
}

.hero-slider__product__image-inner .background__to-yellow {
	display: none !important;
}


@media(max-width: 767px){
	.hero-slider__text-wrapper-inner {
		max-width: 80%;
	}
}

.hero-slider__product-wrapper .img-col{
	justify-content: center;
	display: flex;
}
@media(min-width: 768px){
	.hero-slider__product-wrapper .img-col {
		justify-content: flex-end;
	}
}


body .main-nav__inline-menu li[class*="menu-icon2"] a:not(.ready) {
/* 	font-size: 0; */
}
[class*="menu-icon2"] img.svg {
/* 	opacity: 0; */
}

@media(min-width: 768px){
	.product__description__image-wrapper {
		margin-left: 0;	
	}
}
@media(min-width: 1200px){
	.product__description__image-wrapper {
		margin-left: -100px;	
	}
}

.contact-form__label-checkbox {
	color: rgba(0,0,0,.5);
}

.handlowy .contact__header__text-block p {
	margin-bottom: 0.75em;
}
.handlowy .contact__header__text-block a {
	font-size: inherit;
}
.contact__header__text-block a:hover {
	color: #f6d454 !important;
}


#cookie-law-info-bar {
	font-size: 13px;
}
#cookie-law-info-bar a {
	text-decoration: none;
	transition: all 0.3s ease-out;
}

.main-nav__secondary-menu {
	align-items: center;
}
.main-nav__secondary-menu li.menu-item-icon {
	height: auto;
}
.main-nav__secondary-menu li.menu-item-icon > a,
.main-nav__secondary-menu li.menu-item-icon > a svg {
	display: block;
}

.main-nav__secondary-menu .menu-item-icon-svg > a >svg,
.mobile-nav__secondary-menu .menu-item-icon-svg > a >svg {
    width: auto !important;
    height: 18px !important;
    fill: #85a9c9 !important;
    padding: 0 8px;
    cursor: pointer;
    -webkit-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
}
.main-nav__secondary-menu .menu-item-icon-svg > a:hover > svg,
.mobile-nav__secondary-menu .menu-item-icon-svg > a:hover >svg {
	fill: #fff !important;
}

.icon__search > a > svg {
    padding: 0 1.4rem !important;
    height: 1rem !important;
}
.icon__search:hover > a > svg {
	fill: #fff !important;
}
@media(min-width: 993px) {
	.contact-bottom-text-wrap .button {
		float: right;
	}
}
.course-details__txt__banner__right p {
	letter-spacing: -.15px!important;
}
.container1305 {
	max-width: 1305px;
}


.course-details__message-wrap {
	display: flex;
	background: #004C9B;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
}
.course-details__message-col {
	display: flex;
	align-items: center;
	padding: 1rem 40px;
}
.course-details__message-col > * {
	width: 100%;
}
.course-details__message-title {
	background: #FFD657;
}

@media(max-width: 767px){
	.course-details__message-col {
		padding: 1rem 2rem;	
	}
}
@media(max-width: 575px){
	.course-details__message-wrap {
		flex-direction: column;	
		font-size: 16px;
	}
	.course-details__message-title {
		text-align: center;	
	}
	.course-details__message-col {
		padding: 1rem;
	}
}
@media (min-width: 768px) {
	.hp-map__header {
		font-size: 2.35rem!important;
	}
}
.hp-map__header, .font43 {
    font-size: 1.5rem!important;
}
@media (min-width: 1680px) {
	#home-section-1 .offset-xl-1 {
		margin-left: 16.6667%!important;
	}
	#home-section-1 .offset-xl-2 {
		margin-left: 8.33333%!important;
	}
}
@media (max-width: 1659px) and (min-width: 1200px) {
	#home-section-1 .offset-xl-2 {
		margin-left: 8.666667%!important;
	}
	#home-section-1 .offset-xl-1 {
		margin-left: 16.33333%!important;
	}
}
@media (min-width: 1200px) {
	#home-section-1 .offset-xl-1 {
/* 		margin-left: 16.33333%!important; */
	}
}
@media (min-width: 768px) {
	.font43 {
		font-size: 2.6875rem!important;
	}
}
@media (min-width: 992px) {
	.construction.new-construction .container {
		max-width: 1250px;
	}
	.hp-map .container {
		max-width: 1400px;
	}
}
@media (max-width: 991px) {
	#home-section-1 .container-fluid {
		padding-bottom: 0!important;
	}
	.homepage-products__featured-img {
		height: 330px;
	}
	.hp-map__map-wrapper {
		max-width: 500px!important;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	#home-section-1 {
		 margin-bottom: -50px;
	}
	
}
.background__to-yellow .text-lg-left {
	position: relative;
    top: -25px;
}
#errors-goes-here,
#errors-goes-here-2 {
	text-align: center;
    color: #209515;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
}
.hp-map__text {
    max-width: unset;
}
.hp-map__map-wrapper {
	max-width: 700px;
}
.dark-text {
    color: #212529;
}
.download__section__link .icon {
	min-width: 41px;
}
li {
	color: #565656;
}


.related-wrap {
	padding-top: 3rem;
}

#news-content .related-title {
	font-weight: 400;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.hp-text-slider .slick-slide .button:hover {
	background-color: #ffc107;
	border: 2px solid #ffc107;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 rgba(255,255,0, 0.9);
     }
     100% {
          box-shadow: 0 0 0 65px rgba(0, 0, 0, 0);
     }
}
.construction__el-label-wrapper__closed {
	animation: shadow-pulse 1s infinite;
}
.breadcrumbs p {
	color: #fff;
	margin-bottom: 0;
}


.product-category-menu .main-nav__sub-title {
	display: none !important;
}


.hp-map__pin-button {
	display: block;
	transform: translate(-2px, -2px);
}

.tooltip-inner p {
	color: #565656 !important;
	padding-bottom: 0 !important;
}

.tooltip-inner p:first-child {
/* 	color: #fff !important; */
}

body a:hover {
  text-decoration: none;
  color: #ffd500;
}

[type="submit"].button-white {
  background-color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #0f71ab;
  font-size: .8125rem;
  border-radius: 20px;
  padding: 8px 25px;
  font-weight: 900;
}
[type="submit"].button-white:hover {
color: #fff;
    background-color: #0f71ab;
    border: 2px solid #0f71ab;
}
[type="submit"].button--big-n-fat {
	font-size: 1.125rem;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 15px 30px;
  border-radius: 30px;
}