@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap&subset=latin-ext");
.grid-container {
  max-width: 1500px;
}

@media screen and (min-width: 1200px) {
  .grid-container {
    padding-right: 2.9375rem;
    padding-left: 2.9375rem;
  }
}

.height-2 {
  height: 2rem;
}

@media screen and (min-width: 1200px) {
  .mb-4rem {
    margin-bottom: 4rem !important;
  }
}

.transform-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gray-color {
  color: #252E41;
}

body {
  margin: 0 auto;
  padding: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
}

* {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}

.section {
  padding: 3rem 0;
}

@media screen and (min-width: 640px) {
  .section {
    padding: 5rem 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 8rem 0;
  }
}

@media screen and (max-width: 639px) {
  .button-mb {
    margin-bottom: 0.7rem;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.semi-bold {
  font-weight: 600;
}

@media screen and (min-width: 1360px) {
  .height-100 {
    min-height: 100vh;
  }
}

@media screen and (max-width: 639px) {
  .order-1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (max-width: 1023px) {
  .order-1-on-medium {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.myButton, .button-search, .button-blue, .button-white, .button-white-border, .button-light-blue {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 0.7rem 0.9rem;
  border-radius: 100px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media screen and (min-width: 980px) {
  .myButton, .button-search, .button-blue, .button-white, .button-white-border, .button-light-blue {
    font-size: 13px;
  }
}

@media screen and (min-width: 1360px) {
  .myButton, .button-search, .button-blue, .button-white, .button-white-border, .button-light-blue {
    font-size: 15px;
  }
}

.myButton:hover, .button-search:hover, .button-blue:hover, .button-white:hover, .button-white-border:hover, .button-light-blue:hover {
  cursor: pointer;
}

.button-search {
  padding: 0.3rem 0.5rem;
  font-weight: 400;
  border-radius: 0;
  margin: 4px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.button-search:hover {
  border: 0.5px solid #35BADB;
  background-color: #35BADB;
  color: #fff;
}

.button-blue {
  background-color: #005DAA;
  color: #fff;
  border: 1px solid #005DAA;
}

.button-blue:hover {
  background-color: #fff;
  color: #005DAA;
}

.button-white {
  background-color: #fff;
  color: #005DAA;
  border: 1px #fff solid;
}

.button-white:hover {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
}

.button-white-border {
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
}

.button-white-border:hover {
  background-color: #fff;
  color: #005DAA;
  border: 1px #fff solid;
}

.button-light-blue {
  background-color: #35BADB;
  color: #fff;
}

.button-light-blue:hover {
  background: #fff;
  color: #35BADB;
}

.color-blue {
  color: #35BADB;
  font-weight: bold;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.full-width {
  width: 100%;
}

.grid-container-left {
  padding-left: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 50rem;
}

@media print, screen and (min-width: 40em) {
  .grid-container-left {
    padding-left: 0.9375rem;
  }
}

.background-gray {
  background: rgba(37, 46, 65, 0.07);
}

.big-title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 840px) {
  .big-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1360px) {
  .big-title {
    font-size: 2.5rem;
  }
}

.big-title em {
  color: #35BADB;
  font-style: normal;
  font-weight: bold;
}

.small-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: -1rem;
}

@media screen and (min-width: 1360px) {
  .small-title {
    font-size: 24px;
  }
}

.small-title em {
  color: #35BADB;
  font-style: normal;
  font-weight: bold;
}

.overflow-hidden {
  overflow: hidden;
}

#breadcrumbs {
  height: auto !important;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0;
}

#breadcrumbs a {
  color: inherit;
}

#breadcrumbs a:hover {
  color: #35BADB;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-bottom-title {
  margin-bottom: 0 !important;
  font-size: 20px !important;
}

@media screen and (min-width: 980px) {
  .no-margin-bottom-title {
    font-size: 25px !important;
  }
}

@media screen and (min-width: 1360px) {
  .no-margin-bottom-title {
    font-size: 33px !important;
  }
}

.title-in-triangle {
  color: #252E41;
  margin-bottom: 0 !important;
  position: absolute;
  width: 100%;
  margin-top: 178px;
}

@media screen and (min-width: 1360px) {
  .title-in-triangle {
    font-size: 35px;
  }
}

@media screen and (max-width: 979px) {
  .title-in-triangle {
    margin-top: -20px;
  }
}

.title-in-triangle em {
  color: #35BADB;
  font-style: normal;
  font-weight: bold;
}

.arrow-down-triangle {
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
}

.arrow-down-triangle img {
  width: 30px;
}

.arrow-down-triangle img:hover {
  cursor: pointer;
}

.header-box {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(92, 92, 92, 0.153);
          box-shadow: 0px 0px 10px 0px rgba(92, 92, 92, 0.153);
  z-index: 2;
  position: relative;
}

.header {
  padding: 2rem;
  font-size: 14px;
  color: #252E41;
}

@media (min-width: 980px) {
  .header {
    padding: 1rem;
  }
}

.header a {
  color: #252E41;
}

.header svg path {
  fill: rgba(37, 46, 65, 0.59);
}

.social-links {
  height: 14px;
  width: 14px;
  margin: 0 6px;
}

.links-header img {
  padding-right: 6px;
}

.links-header a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.links-header a:hover {
  color: #005DAA;
}

.header-cell {
  margin-left: 20px;
}

#search:hover {
  cursor: pointer;
}

.search-mobile {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1rem;
}

@media (min-width: 980px) {
  .search-mobile {
    display: none;
  }
}

.search-mobile input {
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.links-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 1rem;
  font-size: 11px;
}

.links-box input[type=search] {
  -webkit-box-shadow: 0px 3px 20px rgba(41, 41, 41, 0.114);
          box-shadow: 0px 3px 20px rgba(41, 41, 41, 0.114);
  display: none;
  border: none;
  position: absolute;
  width: 176px;
  top: 63%;
  height: 35px;
  font-size: 12px;
  right: 2%;
}

.links-box svg:hover path {
  fill: #005DAA;
}

@media screen and (max-width: 979px) {
  .links-middle-box {
    display: none;
  }
}

.header-main {
  padding: 2rem;
}

.header-main .links-box {
  padding-bottom: 0;
}

.header-main .links-box-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/dach-pokrycie-dachu.jpg");
  padding-bottom: 50px;
}

.dach-1 {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#004076), color-stop(59%, #1578AC), to(#35BADB)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #004076 0%, #1578AC 59%, #35BADB 100%) 0% 0% no-repeat padding-box;
}

.dach-2 {
  margin-left: -1px;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#004076), color-stop(59%, #1578AC), to(#35BADB)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #004076 0%, #1578AC 59%, #35BADB 100%) 0% 0% no-repeat padding-box;
}

.dark {
  width: auto;
  left: -1px;
  right: -1px;
  position: absolute;
  bottom: 0;
  height: 100%;
  margin-bottom: 0;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#35BADB), color-stop(72%, #0B6099), to(#004A88)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #35BADB 0%, #0B6099 72%, #004A88 100%) 0% 0% no-repeat padding-box;
  opacity: 0.92;
}

.trangle-wrapper {
  top: 31px;
}

#triangle-down {
  margin-left: calc( 50% - 50vw);
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 400px solid #fff;
}

@media screen and (max-width: 979px) {
  #triangle-down {
    border-top: 292px solid #fff;
  }
}

@media screen and (max-width: 639px) {
  #triangle-down {
    border-top: 205px solid #fff;
  }
}

.triangle-box {
  min-height: calc( 100vh - 108px);
  background-color: #fff;
  padding-top: 2rem;
  overflow: hidden;
}

.triangle-box .button-and-p-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 370px) {
  .triangle-box .button-and-p-box .button-white {
    font-size: 11px;
  }
}

.menu-wrap .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
}

@media screen and (max-width: 979px) {
  .menu-wrap .main-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 979px) {
  .menu-wrap .main-menu li {
    text-align: center;
    font-size: 16px;
    margin-bottom: 17px;
  }
  .menu-wrap .main-menu li:hover {
    cursor: pointer;
  }
  .menu-wrap .main-menu li:hover a {
    color: #35BADB;
  }
  .menu-wrap .main-menu li:hover ul > a {
    color: #fff;
  }
}

.menu-wrap .main-menu li:hover > ul {
  display: block;
}

.menu-wrap .main-menu li a {
  color: #252E41;
  font-weight: bold;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.menu-wrap .main-menu li a:hover {
  color: #35BADB;
}

.menu-wrap .main-menu li ul {
  display: none;
  margin-left: 0;
  list-style: none;
}

.menu-wrap .main-menu li ul li {
  margin-left: 0;
}

.menu-wrap .main-menu li ul a {
  margin-left: 0;
}

.menu-wrap .main-menu li .sub-menu {
  margin: 0;
  display: none;
  opacity: 1;
}

@media (min-width: 980px) {
  .menu-wrap .main-menu li .sub-menu {
    background: #fff;
    position: absolute;
    white-space: nowrap;
    display: none;
  }
}

@media (max-width: 979px) {
  .menu-wrap .main-menu li .sub-menu {
    opacity: 1 !important;
  }
}

.menu-wrap .main-menu li .sub-menu li {
  padding: 0;
}

@media (min-width: 980px) {
  .menu-wrap .main-menu li .sub-menu li {
    display: block;
    -webkit-box-shadow: 0px 3px 20px rgba(41, 41, 41, 0.114);
            box-shadow: 0px 3px 20px rgba(41, 41, 41, 0.114);
    border: none;
  }
}

.menu-wrap .main-menu li .sub-menu li a {
  padding-left: 2rem;
  line-height: 1;
}

@media (min-width: 980px) {
  .menu-wrap .main-menu li .sub-menu li a {
    padding: .7rem 1rem;
    display: block;
  }
}

.menu-wrap {
  z-index: 101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 85% !important;
  max-width: 300px;
  background: #fff;
  padding: 0;
  font-size: 14px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 979px) {
  .menu-wrap {
    -webkit-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
  }
}

@media (min-width: 980px) {
  .menu-wrap {
    overflow-y: visible;
    position: static;
    height: auto !important;
    width: auto !important;
    max-width: none;
    background: none;
    -webkit-transform: none;
            transform: none;
    display: block;
  }
}

.admin-bar .menu-wrap {
  top: 46px;
  height: calc(100vh - 46px);
}

@media (min-width: 783px) {
  .admin-bar .menu-wrap {
    height: calc(100vh - 32px);
    top: 32px;
  }
}

.menu-wrap.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#hamburger {
  margin: 2.9rem 0 0 -2.5rem;
  width: 1.5rem;
  height: 1rem;
  position: relative;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 5;
  -webkit-transition: all .4s, background .2s;
  transition: all .4s, background .2s;
  display: block;
  color: #005DAA;
}

#hamburger:hover {
  color: #005DAA;
}

#hamburger:before, #hamburger:after, #hamburger span {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

#hamburger:before {
  position: absolute;
  top: 0;
}

#hamburger span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
}

#hamburger:after {
  position: absolute;
  bottom: 0;
}

@media (min-width: 980px) {
  #hamburger {
    display: none;
  }
}

.active #hamburger {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin: 2.9rem 0 .3rem 1rem !important;
}

.active #hamburger span {
  opacity: 0;
}

.active #hamburger:before, .active #hamburger:after {
  position: absolute;
  top: calc(50% - 1px);
  width: 1.5rem;
}

.active #hamburger:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.active #hamburger:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#hamburger .menu {
  overflow-y: auto;
}

@media (min-width: 980px) {
  #hamburger .menu {
    overflow: visible;
  }
}

.menu-wrap-main #hamburger {
  margin: 2.9rem 0 0 -2.5rem;
}

@media (min-width: 980px) {
  .menu-wrap-main {
    position: relative;
    top: 68px;
    z-index: 1000;
    margin: 0 20%;
  }
}

.icon-with-text {
  z-index: 100;
  position: relative;
  margin-top: 20rem;
}

@media screen and (max-width: 979px) {
  .icon-with-text {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-img-left, .main-img-right {
  height: 150px;
  width: 150px;
}

@media screen and (min-width: 640px) {
  .main-img-left, .main-img-right {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 1150px) {
  .main-img-left, .main-img-right {
    height: 250px;
    width: 250px;
  }
}

@media screen and (min-width: 1360px) {
  .main-img-left, .main-img-right {
    height: 300px;
    width: 300px;
  }
}

@media screen and (min-width: 1600px) {
  .main-img-left, .main-img-right {
    height: 350px;
    width: 350px;
  }
}

@media screen and (min-width: 1360px) {
  .main-img-right {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1360px) {
  .main-img-left {
    margin-right: 30px;
  }
}

@media screen and (min-width: 980px) {
  .icon-with-text-left {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .icon-with-text-left {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1450px) {
  .icon-with-text-left {
    margin-left: 8rem;
  }
}

@media screen and (min-width: 1700px) {
  .icon-with-text-left {
    margin-left: 15rem;
  }
}

@media screen and (min-width: 980px) {
  .icon-with-text-left .icon-in-triangle {
    padding-left: 1em;
  }
}

@media screen and (max-width: 979px) {
  .icon-with-text-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .icon-with-text-right img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media screen and (min-width: 980px) {
  .icon-with-text-right {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (min-width: 980px) {
  .icon-with-text-right {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .icon-with-text-right {
    margin-right: 5rem;
  }
}

@media screen and (min-width: 980px) {
  .icon-with-text-right .icon-in-triangle {
    padding-right: 1em;
  }
}

@media screen and (min-width: 1450px) {
  .icon-with-text-right {
    margin-right: 8rem;
  }
}

@media screen and (min-width: 1700px) {
  .icon-with-text-right {
    margin-right: 15rem;
  }
}

.icon-in-triangle {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.white-icon-note {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin: 0px 0px 20px 0px;
}

@media screen and (min-width: 980px) {
  .white-icon-note {
    font-size: 21px;
  }
}

@media screen and (min-width: 1360px) {
  .white-icon-note {
    font-size: 24px;
  }
}

@media screen and (max-width: 979px) {
  .white-icon-note {
    margin: 10px 0;
  }
}

.yellow-icon-note {
  text-transform: uppercase;
  color: #E1C755;
  font-weight: bold;
  font-size: 15px;
}

.cell-in-home {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
  display: block;
  text-align: center;
  padding: 1em;
}

@media screen and (min-width: 1360px) {
  .cell-in-home {
    padding: 3rem;
  }
}

@media screen and (max-width: 639px) {
  .cell-in-home {
    padding: 3rem;
  }
}

.cell-in-home p {
  color: rgba(37, 46, 65, 0.6);
  font-size: 14px;
  text-align: left;
}

@media (min-width: 640px) and (max-width: 979px) {
  .cell-in-home p {
    font-size: 12px;
  }
}

.title-in-cells {
  color: #4B566E;
  font-weight: bold;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.title-in-cells em {
  color: #35BADB;
  font-style: normal;
  font-weight: bold;
}

@media screen and (max-width: 639px) {
  .title-in-cells {
    padding-bottom: 2rem;
    padding-top: 1.5rem;
  }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .title-in-cells p {
    font-size: 13px;
  }
}

@media screen and (min-width: 640px) {
  .title-in-cells {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 980px) {
  .title-in-cells {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 0.7rem;
  }
}

@media screen and (min-width: 1360px) {
  .title-in-cells {
    padding-bottom: 2rem;
    padding-top: 1rem;
  }
}

.photo-family-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 639px) {
  .text-near-picture-box {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.text-near-picture-box p {
  color: #252E41;
  font-weight: 500;
}

@media screen and (min-width: 980px) {
  .text-near-picture-box p {
    font-size: 17px;
  }
}

@media screen and (min-width: 640px) and (max-width: 779px) {
  .text-near-picture-box p {
    font-size: 12px;
  }
}

.back {
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  /* width: 100%; */
  margin-bottom: 0;
  z-index: -10;
  top: 6%;
  left: 0;
  right: 0;
  margin: auto;
}

.back-2 {
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  margin-bottom: 0;
  z-index: -10;
  top: -5%;
  right: -5%;
}

.back-3, .back-4 {
  max-width: 600px;
  max-height: 600px;
  position: absolute;
  margin-bottom: 0;
  z-index: -10;
  right: -77px;
  margin: auto;
}

.back-4 {
  display: none;
  right: -120px;
  top: 39%;
}

.background-without-corner {
  background: rgba(37, 46, 65, 0.07);
  position: relative;
  z-index: 10;
}

.background-without-corner:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 298px solid white;
  border-right: 50vw solid rgba(37, 46, 65, 0);
  width: 0;
  z-index: -1;
}

@media screen and (max-width: 639px) {
  .background-without-corner:before {
    border-right: 90vw solid rgba(37, 46, 65, 0);
  }
}

.single-realization-cell {
  background-image: url("../img/Group 215.jpg");
}

.realisation-box {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.realisation-box a {
  color: #fff;
}

.realisation-section {
  padding: 3rem 0;
}

.realisation-section .big-title {
  color: #252E41;
}

.visible-after-hover {
  visibility: hidden;
  font-size: 14px;
  padding: 1rem;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(53, 186, 219, 0.77)), to(rgba(0, 94, 170, 0.77))) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, rgba(53, 186, 219, 0.77) 0%, rgba(0, 94, 170, 0.77) 100%) 0% 0% no-repeat padding-box;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: white;
}

@media screen and (max-width: 639px) {
  .visible-after-hover {
    font-size: 12px;
  }
}

@media screen and (min-width: 640px) {
  .visible-after-hover {
    padding: 2rem;
  }
}

@media screen and (min-width: 1360px) {
  .visible-after-hover {
    font-size: 18px;
  }
}

.visible-after-hover .ala-button {
  color: white;
  text-transform: uppercase;
}

.single-realization-cell:hover .visible-after-hover {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.title-no-margin-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 639px) {
  .title-no-margin-box {
    margin-bottom: 50px;
  }
}

.video-section {
  background-image: url("../img/Group 135.jpg");
  color: #fff;
}

.video-section p {
  font-size: 18px;
}

@media screen and (min-width: 1360px) {
  .video-section p {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1360px) {
  .video-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .video-section .big-title {
    margin-bottom: 4rem;
  }
  .video-section p {
    font-size: 24px !important;
  }
}

@media screen and (max-width: 1039px) {
  .video-section {
    text-align: center;
  }
}

@media screen and (max-width: 1039px) {
  .video-section .video {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1360px) {
  .video-section .video-movie-box {
    width: 100%;
  }
}

.button-box-see-more {
  margin-top: 30px;
}

.footer {
  color: white;
}

.footer p {
  margin-bottom: 0.5rem;
}

.footer a {
  color: white;
}

.footer .sign-in-box {
  padding: 1rem 0;
  margin-bottom: -1px;
  background-image: url("../img/Group 236.jpg");
}

.footer .sign-in-box .sign-in input {
  margin-bottom: 0;
  border: none;
}

.footer .sign-in-box .yellow-button-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .main-footer {
  background: url("../img/Rectangle 15.svg");
  background-size: cover;
}

@media screen and (max-width: 639px) {
  .footer .main-footer {
    text-align: center;
  }
}

.footer .links-footer svg {
  height: 20px;
  margin: 30px 10px;
}

.footer .links-footer svg path {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.footer .links-footer svg:hover path {
  fill: #005DAA;
}

.footer .links-footer svg path {
  fill: #fff;
}

.footer .last-column-footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 639px) {
  .footer .last-column-footer-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.footer .last-column-footer-box a {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.footer .last-column-footer-box a:hover {
  color: #005DAA;
}

.footer .last-column-footer {
  display: inline-block;
}

.footer .last-column-footer .main-menu {
  list-style: none;
  margin-left: 0;
}

.footer .footer_1 {
  margin-bottom: 2rem;
}

.home-gray-section {
  overflow: hidden;
}

.home-gray-section .back-2 {
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  margin-bottom: 0;
  z-index: -10;
  top: 3%;
  right: -14%;
}

.home-gray-section .title-in-cells {
  color: #252E41;
  margin-left: 17px;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

@media screen and (min-width: 640px) and (max-width: 799px) {
  .home-gray-section .title-in-cells {
    margin-left: 8px;
    font-size: 1rem;
  }
}

.home-gray-section .cell-in-home p {
  color: rgba(37, 46, 65, 0.6);
}

@media screen and (min-width: 800px) {
  .home-gray-section .cell-in-home {
    padding: 3%;
  }
}

@media screen and (max-width: 639px) {
  .home-gray-section .cell-in-home {
    margin-bottom: 50px;
    padding: 8%;
  }
}

.home-gray-section .img-and-title {
  margin-bottom: 20px;
}

.home-gray-section .number {
  top: -17%;
  left: 6%;
}

.home-gray-section .cells-box {
  margin-top: 50px;
}

.strap {
  padding: 2rem 0;
  color: white;
  background-color: #005DAA;
}

.strap .button-strap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.strap h2 {
  text-align: center;
}

@media screen and (min-width: 640px) {
  .strap h2 {
    text-align: left;
  }
}

.animation {
  color: #252E41;
  padding-top: 2rem;
}

.animation-wrapper {
  color: #252E41;
  padding-top: 2rem;
}

@media screen and (min-width: 1360px) {
  .animation-wrapper {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1360px) {
  .animation-wrapper .wrapper-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1360px) {
  .animation-wrapper .wrapper-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.map {
  padding-right: 15%;
}

@media screen and (min-width: 1700px) {
  .map {
    display: none;
  }
}

.map-big {
  margin-right: 15%;
  display: none;
}

@media screen and (min-width: 1700px) {
  .map-big {
    display: block;
    height: 550px;
  }
}

@-webkit-keyframes example {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes example {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.animated-elements {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media screen and (min-width: 980px) {
  .animated-elements {
    max-width: 60%;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .animated-elements {
    max-width: 46%;
    margin-left: 76px;
  }
}

@media screen and (min-width: 1500px) {
  .animated-elements {
    margin-left: 127px;
  }
}

.animated-elements p {
  max-height: 230px;
  overflow: hidden;
  max-width: 90%;
  margin-top: 30px;
}

@media screen and (max-width: 979px) {
  .animated-elements p {
    font-size: 14px;
  }
}

.shadow-ball {
  position: absolute;
  height: 45px;
  width: 45px;
  color: white;
  border-radius: 100px;
  background-color: #0082b7;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1700px) {
  .shadow-ball {
    height: 70px;
    width: 70px;
    font-size: 28px;
  }
}

.shadow-ball:hover {
  cursor: pointer;
}

.shadow-first {
  top: 22%;
  left: 55%;
}

@media screen and (min-width: 1700px) {
  .shadow-first {
    top: 23%;
    left: 48%;
  }
}

@media screen and (min-width: 1800px) {
  .shadow-first {
    left: 47%;
  }
}

.shadow-second {
  top: 39%;
  left: 67%;
}

@media screen and (min-width: 1700px) {
  .shadow-second {
    top: 40%;
    left: 68%;
  }
}

@media screen and (min-width: 1800px) {
  .shadow-second {
    left: 67%;
  }
}

.shadow-third {
  top: 55%;
  left: 47%;
}

@media screen and (min-width: 1700px) {
  .shadow-third {
    top: 58%;
    left: 56%;
  }
}

@media screen and (min-width: 1800px) {
  .shadow-third {
    left: 55%;
  }
}

.add-transform {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#animated-img {
  padding-bottom: 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  -webkit-transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

@media screen and (min-width: 1700px) {
  #animated-img {
    padding-right: 7%;
  }
}

@-webkit-keyframes light {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #005DAA;
    box-shadow: 0px 0px 0px 0px #0082b7;
  }
  to {
    -webkit-box-shadow: 0px 0px 0px 20px #0082b7;
    box-shadow: 0px 0px 0px 15px rgba(0, 131, 183, 0);
  }
}

@keyframes light {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #005DAA;
    box-shadow: 0px 0px 0px 0px #0082b7;
  }
  to {
    -webkit-box-shadow: 0px 0px 0px 20px #0082b7;
    box-shadow: 0px 0px 0px 15px rgba(0, 131, 183, 0);
  }
}

.shadow-ball {
  -webkit-animation: light 1s ease-in-out infinite;
          animation: light 1s ease-in-out infinite;
}

@-webkit-keyframes zIndexOut {
  from {
    z-index: 3;
  }
  to {
    z-index: 2;
  }
}

@keyframes zIndexOut {
  from {
    z-index: 3;
  }
  to {
    z-index: 2;
  }
}

@-webkit-keyframes zIndexOut-reverse {
  from {
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}

@keyframes zIndexOut-reverse {
  from {
    z-index: 2;
  }
  to {
    z-index: 3;
  }
}

.tooltip {
  z-index: 2;
  -webkit-animation: light 1s ease-in-out infinite, zIndexOut 0.3s;
          animation: light 1s ease-in-out infinite, zIndexOut 0.3s;
}

.tooltip:hover {
  z-index: 3;
  -webkit-animation-name: zIndexOut-reverse;
          animation-name: zIndexOut-reverse;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

img[usemap], map area {
  outline: none;
}

.animation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 759px) {
  .animation-box {
    display: none;
  }
}

.mobile-3-steps {
  padding-bottom: 3rem;
}

@media screen and (min-width: 760px) {
  .mobile-3-steps {
    display: none;
  }
}

.step-box {
  background: -webkit-gradient(linear, left top, right top, from(#005DAA), color-stop(50%, #1C6EA4), to(#35BADB));
  background: linear-gradient(to right, #005DAA 0%, #1C6EA4 50%, #35BADB 100%);
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step-box-text {
  margin-top: -2px;
  color: #fff;
  padding: 10px;
  display: none;
  background: -webkit-gradient(linear, left top, right top, from(#005DAA), color-stop(50%, #1C6EA4), to(#35BADB));
  background: linear-gradient(to right, #005DAA 0%, #1C6EA4 50%, #35BADB 100%);
}

.arrow-down:hover {
  cursor: pointer;
}

@media (max-width: 639px) {
  .owl-1 .button-white {
    font-size: 9px;
  }
}

.owl-1 .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 86%;
}

@media (max-width: 1359px) {
  .owl-1 .cell {
    padding: 15% 0;
  }
}

.owl-1 .owl-dot:active {
  background-color: transparent;
}

.owl-1 .owl-dots .owl-dot span {
  height: 7px;
  width: 7px;
}

.owl-1 .owl-dots .owl-dot.active span, .owl-1 .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #35BADB;
}

.owl-1 .owl-photo {
  color: #fff;
  background-image: url("../img/baner-www1366 (1).png");
}

@media (min-width: 1366px) {
  .owl-1 .owl-photo {
    background-image: url("../img/baner-www1366 (1).png");
    background-size: cover;
  }
}

@media (min-width: 1680px) {
  .owl-1 .owl-photo {
    background-image: url("../img/baner-www-1680.png");
  }
}

@media (min-width: 1920px) {
  .owl-1 .owl-photo {
    background-image: url("../img/baner-www-1920.png");
  }
}

@media (min-width: 2560px) {
  .owl-1 .owl-photo {
    background-image: url("../img/baner-www-2560 (1).png");
  }
}

.clean-energy-photo {
  margin-left: -174px;
  width: 100%;
  height: 100%;
}

@media (min-width: 1600px) {
  .clean-energy-photo {
    margin-left: -250px;
  }
}

@media (max-width: 1023px) {
  .clean-energy-photo {
    display: none;
  }
}

.clean-energy {
  background-color: rgba(37, 46, 65, 0.07);
}

.clean-energy strong {
  font-size: 16px;
}

@media screen and (min-width: 980px) {
  .clean-energy strong {
    font-size: 20px;
  }
}

.clean-energy .small-title {
  font-size: 20px !important;
}

@media screen and (min-width: 980px) {
  .clean-energy .small-title {
    font-size: 25px !important;
  }
}

@media screen and (min-width: 1360px) {
  .clean-energy .small-title {
    font-size: 33px !important;
  }
}

.clean-energy p {
  font-weight: 500;
  color: #4B566E;
}

.clean-energy p strong {
  color: #252E41;
}

@media screen and (min-width: 980px) {
  .clean-energy p {
    font-size: 18px;
  }
}

@media (min-width: 1500px) {
  .stretch-right {
    padding-right: calc( ( 100vw - 1500px) / 2 - 15px);
  }
  .stretch-left {
    padding-left: calc( ( 100vw - 1500px) / 2 - 15px);
  }
}

.text-on-img {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 20%;
  right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.text-on-img h2 {
  color: #fff;
  font-size: 1.2rem;
}

@media (min-width: 540px) {
  .text-on-img h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .text-on-img h2 {
    font-size: 1rem;
  }
}

@media (min-width: 980px) {
  .text-on-img h2 {
    font-size: 1.5rem;
  }
}

@media (min-width: 640px) {
  .text-on-img a {
    font-size: 0.7rem;
  }
}

@media (min-width: 980px) {
  .text-on-img a {
    font-size: 1rem;
  }
}

.sun-title {
  font-weight: 600;
  font-size: 25px;
}

.sun-title em {
  color: #35BADB;
  font-style: normal;
}

.sun-animation {
  margin-top: 5rem;
}

@media (max-width: 979px) {
  .sun-animation {
    display: none;
  }
}

@media (min-width: 981px) {
  .sun-box {
    padding-right: 50px;
    min-height: 340px;
  }
}

.sun {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.4;
  margin-bottom: 1rem;
}

@media (min-width: 981px) {
  .sun {
    max-width: 463px;
  }
}

.sun svg path {
  fill: currentColor;
}

.sun svg line {
  stroke: currentColor;
}

.sun p {
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
}

@media (min-width: 640px) {
  .sun p {
    font-size: 21px;
  }
}

.sun .sun-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[data-whatintent="mouse"] .sun:hover {
  cursor: pointer;
  opacity: 1;
  color: #35BADB;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

[data-whatintent="mouse"] .sun:hover svg path {
  fill: currentColor;
}

[data-whatintent="mouse"] .sun:hover svg line {
  stroke: currentColor;
}

.color-blue-2 {
  cursor: pointer;
  opacity: 1;
  color: #35BADB;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.color-blue-2 svg path {
  fill: currentColor;
}

.color-blue-2 svg line {
  stroke: currentColor;
}

@-webkit-keyframes myAnimation {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes myAnimation {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.animated-ul {
  display: none;
  color: #252E41;
  -webkit-animation-name: myAnimation;
          animation-name: myAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.animated-ul li {
  padding: 5px 0;
  font-weight: 500;
}

.sun-animation-mobile {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 981px) {
  .sun-animation-mobile {
    display: none;
  }
}

.sun-animation-mobile .sun svg:last-child {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sun-animation-mobile .animated-ul-mobile {
  text-align: left;
  padding-left: 20px;
  color: #252E41;
  display: none;
}

.sun-animation-mobile .animated-ul-mobile li {
  padding: 5px 0;
}

@media (min-width: 640px) and (max-width: 979px) {
  .animation-containter {
    padding: 0 10%;
  }
}

.house .big-title {
  margin-bottom: -2rem;
  margin-top: 2rem;
}

.responsive-house-box {
  text-align: center;
  margin-top: 3rem;
}

.responsive-house-box img {
  width: 80%;
}

@media screen and (max-width: 639px) {
  .responsive-house-box img {
    width: 100%;
  }
}

.shadow-ball-house {
  position: absolute;
  height: 42px;
  width: 42px;
  color: white;
  border-radius: 100px;
  background-color: #0082b7;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 639px) {
  .shadow-ball-house {
    height: 25px;
    width: 25px;
    font-size: 11px;
  }
}

@media screen and (max-width: 979px) {
  .shadow-ball-house {
    height: 30px;
    width: 30px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .shadow-ball-house {
    height: 50px;
    width: 50px;
    font-size: 17px;
  }
}

@media screen and (max-width: 639px) {
  .shadow-ball-house {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

.shadow-ball-house:hover {
  cursor: pointer;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.shadow-1-house {
  top: 30%;
  left: 67%;
}

@media screen and (max-width: 639px) {
  .shadow-1-house {
    top: 30%;
    left: 67%;
  }
}

.shadow-2-house {
  top: 42%;
  left: 45%;
}

@media screen and (max-width: 639px) {
  .shadow-2-house {
    top: 37%;
    left: 43%;
  }
}

.shadow-3-house {
  top: 49%;
  left: 47%;
}

@media screen and (max-width: 639px) {
  .shadow-3-house {
    top: 51%;
    left: 48%;
  }
}

.shadow-4-house {
  top: 46%;
  left: 40%;
}

@media screen and (max-width: 639px) {
  .shadow-4-house {
    top: 46%;
    left: 29%;
  }
}

.shadow-5-house {
  top: 32%;
  left: 29%;
}

@media screen and (max-width: 639px) {
  .shadow-5-house {
    top: 29%;
    left: 18%;
  }
}

.shadow-6-house {
  top: 47%;
  left: 27%;
}

@media screen and (max-width: 639px) {
  .shadow-6-house {
    top: 51%;
    left: 15%;
  }
}

.tooltiptext {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  color: #4B566E;
  -webkit-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
  padding: 20px;
  top: -243%;
  left: 136%;
  background-color: #fff;
  font-size: 12px;
  /* Position the tooltip text - see examples below! */
  z-index: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media (max-width: 639px) {
  .tooltiptext {
    display: none;
  }
}

@media (min-width: 980px) {
  .tooltiptext::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 10px solid #fff;
    margin-left: -30px;
    content: "";
    top: 40%;
    position: absolute;
  }
}

@media (min-width: 640px) {
  .tooltiptext {
    top: -350%;
    left: -526%;
    width: 350px;
  }
}

@media (min-width: 980px) {
  .tooltiptext {
    top: -90%;
    left: 136%;
    width: 15rem;
  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 100;
  opacity: 1;
}

@-webkit-keyframes mobile-house {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes mobile-house {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

.tooltiptext-mobile {
  display: none;
  -webkit-animation-name: mobile-house;
          animation-name: mobile-house;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  position: absolute;
  color: #4B566E;
  -webkit-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
  padding: 20px;
  width: 100%;
  left: 0;
  bottom: 75%;
  background: white;
  color: #4B566E;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
  padding: 20px;
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 640px) and (max-width: 899px) {
  .text-near-photo-about p {
    font-size: 12px;
  }
}

.about-photo-box {
  display: none !important;
}

@media (min-width: 640px) {
  .about-photo-box {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about {
  color: #4B566E;
}

@media (min-width: 1024px) {
  .about {
    font-weight: 500;
  }
  .about p, .about .semi-bold {
    font-size: 18px;
  }
}

.owl-2 {
  position: relative;
  margin-top: 2rem;
}

.owl-2 img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.owl-2 img:hover {
  -webkit-filter: none;
          filter: none;
}

.owl-2 .owl-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-2 .owl-item img {
  width: auto;
}

@media (min-width: 980px) {
  .owl-2 {
    margin-top: 5rem;
  }
}

.owl-2 .owl-nav {
  font-size: 30px;
  color: #B2B2B2;
}

@media (min-width: 1500px) {
  .owl-2 .owl-nav {
    font-size: 60px;
  }
}

.owl-2 .owl-nav .owl-next {
  margin: 0 30px;
}

.owl-2 .owl-nav .owl-next:hover {
  background-color: transparent;
  color: #35BADB;
}

@media (min-width: 1650px) {
  .owl-2 .owl-nav .owl-next {
    margin: 0 0;
    position: absolute;
    top: -30%;
    right: -3%;
  }
}

.owl-2 .owl-nav .owl-prev {
  margin: 0 30px;
}

.owl-2 .owl-nav .owl-prev:hover {
  background-color: transparent;
  color: #35BADB;
}

@media (min-width: 1650px) {
  .owl-2 .owl-nav .owl-prev {
    margin: 0 0;
    position: absolute;
    top: -30%;
    left: -3%;
  }
}

.owl-2 .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog {
  background-color: #F7F7F7;
}

.card {
  color: #252E41;
  -webkit-box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
  border: none;
}

.card h4 {
  color: #252E41;
  font-weight: 600;
  font-size: 16px;
}

@media (min-width: 640px) and (max-width: 979px) {
  .card h4 {
    font-size: 14px;
  }
}

.card p {
  font-size: 12px;
  font-weight: 500;
  max-height: 125px;
  overflow: hidden;
  color: #4B566E;
  padding: 10px 0;
}

@media (min-width: 640px) and (max-width: 979px) {
  .card p {
    max-height: 82px;
    font-size: 11px;
  }
}

.card .card-img {
  background-image: url("../img/TWÓJ DOM.jpg");
  min-height: 250px;
}

@media (min-width: 640px) and (max-width: 979px) {
  .card .card-img {
    min-height: 150px;
  }
}

.card .more {
  text-transform: uppercase;
  font-weight: bold;
  color: #005DAA;
  font-size: 12px;
}

@media (min-width: 640px) and (max-width: 979px) {
  .card .more {
    font-size: 12px;
  }
}

.card .card-section {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

@media (max-width: 1024px) {
  .card .card-section {
    padding: 2rem;
  }
}

@media (min-width: 1200px) {
  .card .card-section {
    padding: 2rem;
  }
}

.card .card-section:hover {
  cursor: pointer;
  background-color: #35BADB;
}

.card .card-section:hover .date, .card .card-section:hover p, .card .card-section:hover h4, .card .card-section:hover .more {
  color: #fff;
}

.date {
  color: #A2A2A2;
  font-size: 12px;
}

@media (min-width: 640px) and (max-width: 979px) {
  .date {
    font-size: 12px;
  }
}

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-header {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  padding: 1rem 0;
}

@media (min-width: 640px) and (max-width: 979px) {
  .search-header {
    font-size: 17px;
  }
}

.search {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 1%;
  background: #fff;
}

.search .search-ul .main-menu {
  list-style: none;
  margin-left: 0;
}

@media (max-width: 639px) {
  .search .search-ul .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 10px;
  }
}

.search .search-ul .main-menu li {
  font-size: 14px;
}

@media (max-width: 639px) {
  .search .search-ul .main-menu li {
    padding-right: 30px;
  }
}

@media (min-width: 640px) and (max-width: 979px) {
  .search .search-ul .main-menu li {
    font-size: 13px;
  }
}

.search .search-ul .main-menu li a {
  color: #707070;
}

.search .search-ul .main-menu li a:hover {
  color: #35BADB;
  cursor: pointer;
}

.search [type='text'] {
  border: 0.5px solid #8A8A8A;
  padding-left: 10%;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 11px;
  color: #3A3A3A;
  font-style: italic;
  background: url("../img/search.svg") no-repeat 90% 14px;
  background-position-y: center;
}

@media (max-width: 639px) {
  .search [type='text'] {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 859px) {
  .search [type='text'] {
    height: 31px;
  }
}

@media (min-width: 640px) {
  .tags-mobile {
    display: none;
  }
}

@media (max-width: 639px) {
  .tags {
    display: none;
  }
}

.privacy {
  overflow: hidden;
}

.privacy p {
  font-weight: 500;
  font-size: 18px;
}

@media (max-width: 979px) {
  .privacy p {
    font-size: 14px;
  }
}

.blog-img {
  background-image: url("../img/Intersection 28.jpg");
  height: 380px;
  margin: 2rem 0;
}

.small-blog-img {
  background-image: url("../img/Intersection 18.jpg");
  height: 360px;
  margin: 2rem 0;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .blog-1-see-more .card .card-img {
    min-height: 250px;
  }
}

@media (min-width: 1024px) and (max-width: 1399px) {
  .blog-1-see-more .card .card-img {
    min-height: 200px;
  }
}

@media (min-width: 640px) {
  .grid-container-80 {
    max-width: 80% !important;
  }
}

.arrow-left {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
}

.arrow-left:hover {
  cursor: pointer;
}

.arrow-left:hover svg path, .arrow-left:hover svg line {
  stroke: #005DAA;
}

@media (min-width: 640px) {
  .arrow-left {
    top: 16%;
    margin-left: 2%;
  }
}

@media (min-width: 980px) {
  .arrow-left {
    margin-left: 3%;
    margin-bottom: -3%;
  }
}

@media (max-width: 639px) {
  .arrow-left {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.blog-single .date {
  font-size: 15px;
}

.blog-single p {
  color: #4B566E;
  font-size: 14px;
}

.blog-single h4, .blog-single h2 {
  color: #252E41;
}

.blog-single h4 {
  font-size: 20px;
}

.offer, .my-form .form-more-strap {
  color: #fff;
  background-color: #35BADB;
  padding: 2%;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #35BADB;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.offer h3, .my-form .form-more-strap h3 {
  font-weight: bold;
  margin-bottom: 0;
}

@media (min-width: 640px) and (max-width: 979px) {
  .offer h3, .my-form .form-more-strap h3 {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .offer svg, .my-form .form-more-strap svg {
    width: 25px;
  }
}

[data-whatintent="mouse"] .offer:hover, [data-whatintent="mouse"] .my-form .form-more-strap:hover, .my-form [data-whatintent="mouse"] .form-more-strap:hover {
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #35BADB;
  background-color: #fff;
  border: 1px solid #35BADB;
}

[data-whatintent="mouse"] .offer:hover svg line, [data-whatintent="mouse"] .my-form .form-more-strap:hover svg line, .my-form [data-whatintent="mouse"] .form-more-strap:hover svg line {
  stroke: #35BADB;
}

.offer-added-class {
  color: #35BADB;
  background-color: #fff;
  border: 1px solid #35BADB;
}

.offer-added-class svg line {
  stroke: #35BADB;
}

.offers-title {
  font-size: 20px;
  margin-top: 3rem;
  padding-bottom: 1rem;
}

.offer-text {
  display: none;
  padding: 5%;
}

@media (min-width: 640px) {
  .offer-text {
    padding: 5%;
  }
}

@media (min-width: 640px) {
  .offer-text {
    padding: 2%;
  }
}

@media (min-width: 640px) {
  .offer-text {
    padding: 5%;
  }
}

.offer-text h4 {
  color: #4B566E;
  font-weight: bold;
  font-size: 24px;
}

.offer-text strong {
  font-weight: 600;
}

.offer-text p, .offer-text li {
  font-size: 14px;
}

.offer-text ul {
  list-style: none;
}

.offer-text ul li::before {
  line-height: 1.2;
  font-size: 20px;
  color: #35BADB;
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}

.offer-text p:last-child {
  font-size: 12px;
  font-weight: 500;
}

@media screen and (min-width: 640px) {
  .company-100 {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.company-100 .wrapper-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-100 .wrapper-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.why-us p {
  color: #4B566E;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .why-us p {
    font-size: 18px;
  }
}

.strap .title-no-margin-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.change-x .cell {
  margin-right: 7.5px;
}

@media (min-width: 640px) and (max-width: 859px) {
  .box-blog-cell .card .grid-margin-x {
    margin-left: -7.5px !important;
    margin-right: -7.5px;
  }
  .box-blog-cell .card .card-img {
    min-height: 135px;
  }
  .box-blog-cell .card .card-section {
    padding: 1rem;
  }
  .box-blog-cell .card .card-section h4 {
    margin-bottom: 4px;
  }
  .box-blog-cell .card .card-section p {
    padding: 5px;
    max-height: 78px;
  }
}

.contact-left {
  margin-bottom: 3rem;
}

@media (min-width: 640px) {
  .contact-left {
    margin-bottom: 0;
  }
}

.contact-left .contact-info-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 640px) {
  .contact-left .contact-info-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 359px) {
  .contact-left .contact-info-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 640px) {
  .contact-left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact-left h3 {
  color: #35BADB;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 22px;
}

@media (min-width: 480px) {
  .contact-left h3 {
    font-size: 20px;
  }
}

@media (min-width: 640px) {
  .contact-left h3 {
    font-size: 23px;
  }
}

@media (min-width: 1500px) {
  .contact-left h3 {
    font-size: 30px;
  }
}

.contact-left p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 12px;
}

@media (min-width: 480px) {
  .contact-left p {
    font-size: 14px;
  }
}

@media (min-width: 1500px) {
  .contact-left p {
    font-size: 16px;
  }
}

.footer-form {
  padding: 2rem 1rem;
  margin: auto;
  background-image: url("../img/Rectangle 15.png");
}

@media (min-width: 480px) {
  .footer-form {
    padding: 3rem 2rem;
    margin: 0 5%;
  }
}

@media (min-width: 640px) {
  .footer-form {
    margin: 0 0;
    max-width: 464px;
  }
}

@media (min-width: 1500px) {
  .footer-form {
    max-width: 520px;
  }
}

.footer-form .big-title {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

@media (min-width: 1500px) {
  .footer-form .big-title {
    font-size: 30px;
  }
}

.footer-form .wpcf7 [type=text], .footer-form .wpcf7 [type=tel], .footer-form .wpcf7 [type=email], .footer-form .wpcf7 textarea {
  background-color: transparent;
  padding: 1.5em;
  margin-bottom: 0;
  border-bottom: 1px solid #5AA5D0;
  border-left: none;
  border-right: none;
  border-top: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  font-size: 10px;
  padding-left: 0;
}

@media (min-width: 1500px) {
  .footer-form .wpcf7 [type=text], .footer-form .wpcf7 [type=tel], .footer-form .wpcf7 [type=email], .footer-form .wpcf7 textarea {
    font-size: 12px;
  }
}

.footer-form .wpcf7 [type=text]::-webkit-input-placeholder, .footer-form .wpcf7 [type=tel]::-webkit-input-placeholder, .footer-form .wpcf7 [type=email]::-webkit-input-placeholder, .footer-form .wpcf7 textarea::-webkit-input-placeholder {
  color: #C3DEEE;
}

.footer-form .wpcf7 [type=text]:-ms-input-placeholder, .footer-form .wpcf7 [type=tel]:-ms-input-placeholder, .footer-form .wpcf7 [type=email]:-ms-input-placeholder, .footer-form .wpcf7 textarea:-ms-input-placeholder {
  color: #C3DEEE;
}

.footer-form .wpcf7 [type=text]::-ms-input-placeholder, .footer-form .wpcf7 [type=tel]::-ms-input-placeholder, .footer-form .wpcf7 [type=email]::-ms-input-placeholder, .footer-form .wpcf7 textarea::-ms-input-placeholder {
  color: #C3DEEE;
}

.footer-form .wpcf7 [type=text]::placeholder, .footer-form .wpcf7 [type=tel]::placeholder, .footer-form .wpcf7 [type=email]::placeholder, .footer-form .wpcf7 textarea::placeholder {
  color: #C3DEEE;
}

.footer-form input[type=checkbox] {
  height: 10px;
  position: absolute;
  top: -9px;
  bottom: 0;
  margin: auto;
  left: 0;
  z-index: 5;
  cursor: pointer;
}

.footer-form input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  border: 0.5px solid #fff;
  background-color: #1394C6;
}

.footer-form input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 3px;
}

.footer-form span .wpcf7-list-item {
  padding-left: 40px;
  position: relative;
  display: inline-block;
}

.footer-form span .wpcf7-list-item label {
  font-size: 7px;
  color: #C3DEEE;
}

@media (min-width: 1500px) {
  .footer-form span .wpcf7-list-item label {
    font-size: 10px;
  }
}

.footer-form input:disabled {
  background-color: #fff;
}

.footer-form .button-white {
  font-size: 13px;
  font-weight: 600;
  padding: 0.5rem 0.9rem;
  margin-top: 1rem;
}

@media (min-width: 1500px) {
  .footer-form .button-white {
    font-size: 16px;
  }
}

.footer-form .button-white:hover {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

.my-form {
  color: #252E41;
  max-width: 900px;
  margin: auto;
}

.my-form .small-title {
  margin-top: 3rem;
  font-weight: 600;
  color: #252E41;
}

.my-form .wpcf7 {
  margin-top: 2rem;
}

.my-form .wpcf7 [type='text'], .my-form .wpcf7 [type='password'], .my-form .wpcf7 [type='date'], .my-form .wpcf7 [type='datetime'], .my-form .wpcf7 [type='datetime-local'], .my-form .wpcf7 [type='month'], .my-form .wpcf7 [type='week'], .my-form .wpcf7 [type='email'], .my-form .wpcf7 [type='number'], .my-form .wpcf7 [type='search'], .my-form .wpcf7 [type='tel'], .my-form .wpcf7 [type='time'], .my-form .wpcf7 [type='url'], .my-form .wpcf7 [type='color'], .my-form .wpcf7 textarea, .my-form .wpcf7 select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(112, 112, 112, 0.5);
}

@media (min-width: 800px) {
  .my-form .wpcf7 [type='text'], .my-form .wpcf7 [type='password'], .my-form .wpcf7 [type='date'], .my-form .wpcf7 [type='datetime'], .my-form .wpcf7 [type='datetime-local'], .my-form .wpcf7 [type='month'], .my-form .wpcf7 [type='week'], .my-form .wpcf7 [type='email'], .my-form .wpcf7 [type='number'], .my-form .wpcf7 [type='search'], .my-form .wpcf7 [type='tel'], .my-form .wpcf7 [type='time'], .my-form .wpcf7 [type='url'], .my-form .wpcf7 [type='color'], .my-form .wpcf7 textarea, .my-form .wpcf7 select {
    height: 46px;
  }
}

.my-form .wpcf7 [type='text']:hover, .my-form .wpcf7 [type='password']:hover, .my-form .wpcf7 [type='date']:hover, .my-form .wpcf7 [type='datetime']:hover, .my-form .wpcf7 [type='datetime-local']:hover, .my-form .wpcf7 [type='month']:hover, .my-form .wpcf7 [type='week']:hover, .my-form .wpcf7 [type='email']:hover, .my-form .wpcf7 [type='number']:hover, .my-form .wpcf7 [type='search']:hover, .my-form .wpcf7 [type='tel']:hover, .my-form .wpcf7 [type='time']:hover, .my-form .wpcf7 [type='url']:hover, .my-form .wpcf7 [type='color']:hover, .my-form .wpcf7 textarea:hover, .my-form .wpcf7 select:hover {
  cursor: pointer;
}

.my-form .wpcf7 [type='text']::-webkit-input-placeholder, .my-form .wpcf7 [type='password']::-webkit-input-placeholder, .my-form .wpcf7 [type='date']::-webkit-input-placeholder, .my-form .wpcf7 [type='datetime']::-webkit-input-placeholder, .my-form .wpcf7 [type='datetime-local']::-webkit-input-placeholder, .my-form .wpcf7 [type='month']::-webkit-input-placeholder, .my-form .wpcf7 [type='week']::-webkit-input-placeholder, .my-form .wpcf7 [type='email']::-webkit-input-placeholder, .my-form .wpcf7 [type='number']::-webkit-input-placeholder, .my-form .wpcf7 [type='search']::-webkit-input-placeholder, .my-form .wpcf7 [type='tel']::-webkit-input-placeholder, .my-form .wpcf7 [type='time']::-webkit-input-placeholder, .my-form .wpcf7 [type='url']::-webkit-input-placeholder, .my-form .wpcf7 [type='color']::-webkit-input-placeholder, .my-form .wpcf7 textarea::-webkit-input-placeholder, .my-form .wpcf7 select::-webkit-input-placeholder {
  font-size: 12px;
  color: #252E41;
  opacity: 0.5;
}

.my-form .wpcf7 [type='text']:-ms-input-placeholder, .my-form .wpcf7 [type='password']:-ms-input-placeholder, .my-form .wpcf7 [type='date']:-ms-input-placeholder, .my-form .wpcf7 [type='datetime']:-ms-input-placeholder, .my-form .wpcf7 [type='datetime-local']:-ms-input-placeholder, .my-form .wpcf7 [type='month']:-ms-input-placeholder, .my-form .wpcf7 [type='week']:-ms-input-placeholder, .my-form .wpcf7 [type='email']:-ms-input-placeholder, .my-form .wpcf7 [type='number']:-ms-input-placeholder, .my-form .wpcf7 [type='search']:-ms-input-placeholder, .my-form .wpcf7 [type='tel']:-ms-input-placeholder, .my-form .wpcf7 [type='time']:-ms-input-placeholder, .my-form .wpcf7 [type='url']:-ms-input-placeholder, .my-form .wpcf7 [type='color']:-ms-input-placeholder, .my-form .wpcf7 textarea:-ms-input-placeholder, .my-form .wpcf7 select:-ms-input-placeholder {
  font-size: 12px;
  color: #252E41;
  opacity: 0.5;
}

.my-form .wpcf7 [type='text']::-ms-input-placeholder, .my-form .wpcf7 [type='password']::-ms-input-placeholder, .my-form .wpcf7 [type='date']::-ms-input-placeholder, .my-form .wpcf7 [type='datetime']::-ms-input-placeholder, .my-form .wpcf7 [type='datetime-local']::-ms-input-placeholder, .my-form .wpcf7 [type='month']::-ms-input-placeholder, .my-form .wpcf7 [type='week']::-ms-input-placeholder, .my-form .wpcf7 [type='email']::-ms-input-placeholder, .my-form .wpcf7 [type='number']::-ms-input-placeholder, .my-form .wpcf7 [type='search']::-ms-input-placeholder, .my-form .wpcf7 [type='tel']::-ms-input-placeholder, .my-form .wpcf7 [type='time']::-ms-input-placeholder, .my-form .wpcf7 [type='url']::-ms-input-placeholder, .my-form .wpcf7 [type='color']::-ms-input-placeholder, .my-form .wpcf7 textarea::-ms-input-placeholder, .my-form .wpcf7 select::-ms-input-placeholder {
  font-size: 12px;
  color: #252E41;
  opacity: 0.5;
}

.my-form .wpcf7 [type='text']::placeholder, .my-form .wpcf7 [type='password']::placeholder, .my-form .wpcf7 [type='date']::placeholder, .my-form .wpcf7 [type='datetime']::placeholder, .my-form .wpcf7 [type='datetime-local']::placeholder, .my-form .wpcf7 [type='month']::placeholder, .my-form .wpcf7 [type='week']::placeholder, .my-form .wpcf7 [type='email']::placeholder, .my-form .wpcf7 [type='number']::placeholder, .my-form .wpcf7 [type='search']::placeholder, .my-form .wpcf7 [type='tel']::placeholder, .my-form .wpcf7 [type='time']::placeholder, .my-form .wpcf7 [type='url']::placeholder, .my-form .wpcf7 [type='color']::placeholder, .my-form .wpcf7 textarea::placeholder, .my-form .wpcf7 select::placeholder {
  font-size: 12px;
  color: #252E41;
  opacity: 0.5;
}

.my-form .wpcf7 select {
  color: rgba(4, 7, 14, 0.5);
}

.my-form .wpcf7 textarea {
  margin-top: 2rem;
  height: auto;
  border: none;
  -webkit-box-shadow: 0px 0px 20px rgba(186, 186, 186, 0.161);
          box-shadow: 0px 0px 20px rgba(186, 186, 186, 0.161);
}

@media (max-width: 400px) {
  .my-form .wpcf7 .small-6 {
    width: 100%;
    margin: 10px 0;
    width: calc(100% - 1.25rem);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
}

.my-form .wpcf7 label {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #252E41;
}

@media (max-width: 480px) {
  .my-form .wpcf7 label {
    font-size: 12px;
  }
}

.my-form .wpcf7 span {
  border: 1px solid #707070;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.my-form .wpcf7 input:disabled {
  margin-top: 2rem;
  background-color: #005DAA;
  font-size: 13px;
  font-weight: 600;
}

.my-form .wpcf7 input:disabled:hover {
  background-color: #fff;
}

.my-form .wpcf7 .strap-opction {
  margin-top: 16px;
  margin-bottom: -16px;
  color: rgba(37, 46, 65, 0.41);
  font-weight: 400;
}

.my-form .wpcf7 select {
  background-image: url("../img/Group 1438.svg");
  font-size: 12px;
}

.my-form .wpcf7 .additional label em {
  font-style: normal;
  color: rgba(37, 46, 65, 0.41);
  font-weight: 400;
}

.my-form .form-more-strap {
  border: 1px solid currentColor;
  background: transparent -webkit-gradient(linear, right top, left top, from(#2EBADE), color-stop(43%, #0D77B9), to(#004781)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #2EBADE 0%, #0D77B9 43%, #004781 100%) 0% 0% no-repeat padding-box;
}

@media (min-width: 800px) {
  .my-form .form-more-strap {
    height: 46px;
  }
}

.my-form .form-more-strap svg {
  width: 18px;
}

.my-form .form-more-strap .big-title {
  font-size: 14px;
  font-weight: 600;
}

.my-form .form-more-strap:hover {
  background: #fff;
  border: 1px solid  #2EBADE;
}

.my-form .form-more-strap:hover .big-title {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #252E41;
}

.my-form .form-more-strap:hover svg line {
  stroke: #252E41 !important;
}

.added-form-class {
  background: #fff !important;
  border: 1px solid  #2EBADE !important;
}

.added-form-class .big-title {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  color: #252E41;
}

.added-form-class svg line {
  stroke: #252E41 !important;
}

.checkbox-form input[type=checkbox] {
  position: absolute;
  top: -16px;
  bottom: 0;
  margin: auto;
  left: 0;
  z-index: 5;
  cursor: pointer;
}

.checkbox-form input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
  border: 0.5px solid rgba(37, 46, 65, 0.52);
  background-color: #fff;
}

.checkbox-form input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 7px;
  border: solid #35BADB;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 1px;
  left: 3px;
}

.checkbox-form span {
  padding-left: 13px;
  position: relative;
  display: inline-block;
  border: none !important;
  font-size: 9px;
  color: rgba(37, 46, 65, 0.52);
  margin: 1% 2%;
  font-weight: 400;
}

.checkbox-form span input {
  height: 10px;
}

.checkbox-form label {
  font-size: 7px;
  color: #C3DEEE;
}

@media (min-width: 1500px) {
  .checkbox-form label {
    font-size: 10px;
  }
}

.additional {
  display: none;
}
/*# sourceMappingURL=style.css.map */