


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900&display=swap&subset=latin-ext');

$light-gray: rgba(37, 46, 65, 0.59);
$light-light-gray: rgba(37, 46, 65, 0.07);
$dark-gray: #252E41;
$blue:#35BADB;
$yellow: #E1C755;
$dark-blue: #005DAA;

.grid-container {
    max-width: 1500px;
    @media screen and (min-width: 1200px) {
        padding-right: 2.9375rem;
        padding-left: 2.9375rem;

    }
}

.height-2 {
    height:2rem;
}

.mb-4rem {
    @media screen and (min-width: 1200px) {

        margin-bottom: 4rem !important;
    }
}

.transform-180 {
    transform: rotate(180deg);
}


.gray-color {
    color: $dark-gray;
}


body {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

* {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif !important;
}
.section {
    padding: 3rem 0;
    @media screen and (min-width: 640px) {
        padding: 5rem 0;
    }
    @media screen and (min-width: 1200px) {
        padding: 8rem 0;
    }
}

.button-mb {
    @media screen and (max-width: 639px) {
        margin-bottom: 0.7rem;
    }
}
.center {
    display: flex;
    align-items: center
}

.semi-bold {
    font-weight: 600;
}

.height-100 {
    @media screen and (min-width: 1360px){
        min-height: 100vh;
    }
}

.order-1 {
    @media screen and (max-width: 639px) {
        order: -1;
    }
}

.order-1-on-medium {
    @media screen and (max-width: 1023px) {
        order: -1;
    }
}

.myButton {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    @media screen and (min-width: 980px){
        font-size: 13px;
    }
    @media screen and (min-width: 1360px){
        font-size: 15px;
    }
    padding: 0.7rem 0.9rem;
    border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.button-search {
    @extend .myButton;
    padding: 0.3rem 0.5rem;
    font-weight: 400;
    border-radius: 0;
    margin: 4px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    border: 0.5px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    font-size: 10px;
    &:hover {
        border: 0.5px solid  $blue;
        background-color: #35BADB;
        color: #fff;
     }
}

.button-blue {
    @extend .myButton;
    background-color: #005DAA;
    color: #fff;
    border: 1px solid #005DAA;
    &:hover {
       background-color: #fff;
       color: #005DAA;
    }
}
.button-white {
    @extend .myButton;
    background-color: #fff;
    color:#005DAA;
    border: 1px #fff solid;

    &:hover {
       background-color: transparent;
       color: #fff;
       border: 1px #fff solid;
    }
}

.button-white-border{
    @extend .myButton;
    background-color: transparent;
    color: #fff;
    border: 1px #fff solid;

    &:hover {
       background-color: #fff;
       color: $dark-blue;
       border: 1px #fff solid;
    }
}
.button-light-blue{
    @extend .myButton;
    background-color: $blue;
    color: #fff;
    &:hover {
        background: #fff;
        color: $blue;
     
     }
}
.color-blue {
    color: $blue;
    font-weight: bold;
}


.position-relative {
    position: relative;
}
.position-absolute {
    position:absolute;
}

.full-width {
    width: 100%;
}

.grid-container-left {
    padding-left: 0.625rem;
    @media print, screen and (min-width: 40em){
        padding-left: 0.9375rem;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 50rem;
}

.background-gray {
    background: rgba(37, 46, 65, 0.07);
}
.big-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    @media screen and (min-width: 840px) {
        font-size: 2rem;
     }
     @media screen and (min-width: 1360px) {
         font-size: 2.5rem;
     }
    em {
        color:#35BADB;
        font-style: normal;
        font-weight: bold;
    }
}

.small-title {
    font-size: 20px;
    @media screen and (min-width: 1360px) {
        font-size:24px;
    }
    font-weight: bold;
    margin-top: -1rem;
    em {
        color:#35BADB;
        font-style: normal;
        font-weight: bold;
    }
}

.overflow-hidden {
    overflow: hidden;
}

#breadcrumbs {
	height: auto !important;
	font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
	
	a {
		color: inherit;
		&:hover {
			color: $blue;
		}
	}
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-bottom-title {
    margin-bottom: 0 !important;
    font-size: 20px !important;
    @media screen and (min-width: 980px) {
        font-size: 25px !important;
     }
     @media screen and (min-width: 1360px) {
        font-size: 33px !important;
    }
}

.title-in-triangle {
    color: #252E41;
    @media screen and (min-width: 1360px) {
        font-size: 35px;
      }
    margin-bottom: 0 !important;
    // display: block;
    position: absolute;
    // justify-content: center;
    width: 100%;
    margin-top: 178px;
    @media screen and (max-width: 979px) {
       margin-top: -20px;
    }
    em {
        color:#35BADB;
        font-style: normal;
        font-weight: bold;
    }
}

.arrow-down-triangle {
    bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    img {
        width: 30px;
        &:hover {
            cursor: pointer;
        }
    }
}

.header-box {
    box-shadow: 0px 0px 10px 0px hsla(0, 0%, 36%, 0.153);
    z-index: 2;
    position: relative;
}

.header {
  

    padding: 2rem;
    @media(min-width: 980px) {
        padding: 1rem;
    }

    font-size: 14px;
    color: #252E41;
    a {
        color: #252E41;  
    }

    svg path{
        fill: $light-gray;
    }

}



.social-links {
    height: 14px;
    width: 14px;
    margin: 0 6px;
}
.links-header {
    img {
        padding-right: 6px;
    }
    a {
        transition: .3s ease-in-out;

        &:hover {
            color: $dark-blue;
        }
    }
}

.header-cell {
    margin-left: 20px;
}

#search {
    &:hover {
        cursor: pointer;
    }
}

.search-mobile {
    @media(min-width: 980px) {
        display: none;
    }

    border: none;
    display: flex;
    padding: 0 1rem;
    input {
        margin-bottom: 0;
        align-items: center;
        margin-left: 10px;
    }

}


.links-box {

    input[type=search] {
        box-shadow: 0px 3px 20px rgba(41, 41, 41, 0.114);
        display: none;
        border: none;
        position: absolute;
        width: 176px;
        top: 63%;
        height: 35px;
        font-size: 12px;
        right: 2%;
    }

    display: flex; 
    justify-content: flex-end;
    padding-bottom: 1rem;
    font-size: 11px;

    svg {
        &:hover {
            path{
                fill: #005DAA;
            }
          
        }
}
}
.links-middle-box {
    @media screen and (max-width: 979px) {
        display: none;
    }
}


.header-main {

    padding: 2rem;
    .links-box {
        padding-bottom: 0;
    }
    .links-box-box {
        display: flex;
    flex-direction: column;
    justify-content: center;
    // @media screen and (max-width: 979px) {
    //     display: none;
    // }
    }
}

.dach {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url("../img/dach-pokrycie-dachu.jpg");
    padding-bottom: 50px;
    // height: 100vh;
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    // overflow: hidden;
    @media screen and (max-width: 639px) {
        // display: flex
    }
}

.dach-1 {
    // background-image: url("../img/tw__j_dom_home.jpg");
    background: transparent linear-gradient(180deg, #004076 0%, #1578AC 59%, #35BADB 100%) 0% 0% no-repeat padding-box;
}
.dach-2 {
    margin-left: -1px;
    // background-image: url("../img/Twój\ dom\ HOME.jpg");
    background: transparent linear-gradient(180deg, #004076 0%, #1578AC 59%, #35BADB 100%) 0% 0% no-repeat padding-box;
}

.dark {
    width: auto;
    left: -1px;
    right: -1px;
    position: absolute;
    bottom: 0;
    // width: 100%;
    height: 100%;
    margin-bottom: 0;
    background: transparent linear-gradient(180deg, #35BADB 0%, #0B6099 72%, #004A88 100%) 0% 0% no-repeat padding-box;
    opacity: 0.92;
}

.trangle-wrapper {
    top: 31px;
}

#triangle-down {
    // right: 16.667px;
    margin-left: calc( 50% - 50vw);
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 400px solid #fff;
    @media screen and (max-width: 979px) {
        border-top: 292px solid #fff;
    }
    @media screen and (max-width: 639px) {
        border-top: 205px solid #fff;
    }
  }


////menu
.triangle-box {
    min-height: calc( 100vh - 108px );
    // margin-top: -2px;
    background-color: #fff;
    padding-top: 2rem;
    overflow: hidden;
    .button-and-p-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .button-white {
            @media screen and (max-width: 370px) {
              font-size: 11px;
            }
        }
    }
}

.menu-wrap .main-menu {
 
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 979px) {
       flex-direction: column;
    }
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    
 
    li {
        @media screen and (max-width: 979px) {
            text-align: center;
            font-size: 16px;
            margin-bottom: 17px;
            &:hover{
                a{
                    color: $blue;
                }
                ul>a {
                    color: #fff;
                }
               cursor: pointer;
            }
          }

        &:hover > ul {
            display: block;
        }
        a {
        
         
            color: #252E41;
            @media screen and (max-width: 979px) {
            //    color: #fff;
             }
            font-weight: bold;
            transition: .3s ease-in-out;
            &:hover {
                color: $blue;
            }
          
            }
            ul{
                display: none;
                margin-left: 0;
                list-style: none;
                li {
                    margin-left: 0;
                }
                a {
                    margin-left:0;
                }
            }

            .sub-menu {
                margin: 0;
                display: none;
                opacity: 1;
                @media(min-width: 980px){
                    background: #fff;
                    position: absolute;
                    white-space: nowrap;
                    display: none;
                }
                @media(max-width: 979px){
                    opacity: 1 !important;
                }
                li {
                    padding: 0;
                    @media(min-width: 980px){
                        display: block;
                        box-shadow: 0px 3px 20px rgba(41, 41, 41, 0.114);
                        border: none;

                    }
                    a {
                        padding-left: 2rem;
                        line-height: 1;
                        @media(min-width: 980px){
                            padding: .7rem 1rem;
                            display: block;
                        }
                    }
                }
            }	
        }

}


.menu-wrap {
    z-index: 101;
	display: flex;
    flex-direction: column;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	width: 85% !important;
	max-width: 300px;
    background:#fff;
    @media(max-width: 979px){ 
       box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
    }
	padding: 0;
	font-size: 14px;
	transform: translateX(100%);
	transition: transform .4s;
	text-transform: uppercase;
	font-weight: 600;
	@media(min-width: 980px){ 
		overflow-y: visible;
		position: static;
		height: auto !important;
		width: auto !important;
		max-width: none;
		background: none;
		transform: none;
		display: block;
	}
	.admin-bar & {
		top: 46px;
		height: calc(100vh - 46px);
		@media(min-width:783px){
			height: calc(100vh - 32px);
			top: 32px;
		}
	}

	&.active {
		transform: translateX(0);
	}

}



#hamburger {
	margin: 2.9rem 0 0 -2.5rem;
	width: 1.5rem;
	height: 1rem;
	position: relative;
	transform: translateX(-100%);
	z-index: 5;
	transition: all .4s, background .2s;
	display: block;
	color: $dark-blue;
	&:hover {
		color: $dark-blue;
	}
	&:before, &:after, span {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: currentColor;
		transform-origin: 50% 50%;
	}
	&:before {
		position: absolute;
		top: 0;
	}
	span {
		position: absolute;
		top: 50%;
		margin-top: -1px;
	}
	&:after {
		position: absolute;
		bottom: 0;
	}
	@media(min-width: 980px){
		display: none;
	}
	
	.active & {
		transform: translateX(0);
		margin: 2.9rem 0 .3rem 1rem !important;
		// color: #fff !important;
		span {
			opacity: 0;
		}
		&:before, &:after {
			position: absolute;
			top: calc(50% - 1px);
			width: 1.5rem;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	.menu {
		overflow-y: auto;
		@media(min-width: 980px){
			overflow: visible;
		}
	}

	
}

.menu-wrap-main {
    #hamburger {
        margin: 2.9rem 0 0 -2.5rem;
     
    }
    @media(min-width: 980px){
        position: relative;
        top: 68px;
        z-index: 1000;
        margin: 0 20%;

    }
}

// .triangle-box .main-menu {
  
//     position: absolute;
//     justify-content: center;
//     margin-top: -10px;
//     width: 100%;
//     margin-left:0;

//     li {
//             margin-left: 15px;
//         margin-right: 15px;
//         @media screen and (min-width: 1360px) {
//             margin-left: 40px;
//             margin-right: 40px;
//         }
//     }



        
// }

.icon-with-text {
    z-index: 100;
    position: relative;
    margin-top: 20rem;
    @media screen and (max-width: 979px) {
        // display: block;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



.main-img-left, .main-img-right {
    height: 150px;
    width: 150px;
    @media screen and (min-width: 640px){
        height: 200px;
        width: 200px;
    }
    @media screen and (min-width: 1150px){
        height: 250px;
        width: 250px;
    }
    @media screen and (min-width: 1360px){
        height: 300px;
        width: 300px;
    }
    @media screen and (min-width: 1600px){
        height: 350px;
        width: 350px;
    }
}

.main-img-right {
 @media screen and (min-width: 1360px){
    margin-left: 30px;
    }
}


.main-img-left {
 @media screen and (min-width: 1360px){
      margin-right: 30px;
    }
}

.icon-with-text-left {
    @media screen and (min-width: 980px) {
    margin-left: 2rem;
    }
    @media screen and (min-width: 1200px) {
    margin-left: 5rem;
    }
    @media screen and (min-width: 1450px) {
    margin-left: 8rem;
    }
    @media screen and (min-width: 1700px) {
    margin-left: 15rem;
    }
    .icon-in-triangle {
        @media screen and (min-width: 980px) {
            padding-left: 1em;
        }
    }
}

.icon-with-text-right {
  
    @media screen and (max-width: 979px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            order: -1;
        }

    }
    @media screen and (min-width: 980px) {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        }
        @media screen and (min-width: 980px) {
            margin-right: 2rem;
            }
            @media screen and (min-width: 1200px) {
            margin-right: 5rem;
            }

    .icon-in-triangle {
        @media screen and (min-width: 980px) {
            padding-right: 1em;
        }
    } 
    @media screen and (min-width: 1450px) {
        margin-right: 8rem;
        }  
    @media screen and (min-width: 1700px) {
            margin-right: 15rem;
    } 
}

.icon-in-triangle {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // @media screen and (max-width: 800px) {
    //   justify-content: center;
    //     }
}

.white-icon-note {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    @media screen and (min-width: 980px){
        font-size: 21px;
    }
    @media screen and (min-width: 1360px){
        font-size: 24px;
    }
    margin: 0px 0px 20px 0px;
    @media screen and (max-width: 979px) {
       margin: 10px 0;
    }
}

.yellow-icon-note {
    text-transform: uppercase;
    color: #E1C755;
    font-weight: bold;
    font-size: 15px;
}

/////////////////////////////home

.cell-in-home {
    background-color: #fff;
    box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
    display: block;
    text-align: center;
    padding: 1em;
    @media screen and (min-width: 1360px) {
        padding: 3rem;
     }
    @media screen and (max-width: 639px) {
        padding: 3rem;
     }

    p {
     
        color: rgba(37, 46, 65, 0.6);

        font-size: 14px;
        @media(min-width: 640px) and(max-width: 979px){
            font-size: 12px;
        }
        text-align: left;
    }
}
.title-in-cells {
    em {
        color: $blue;
        font-style: normal;
        font-weight: bold;
    }
    color: #4B566E;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    @media screen and (max-width: 639px) {
        padding-bottom: 2rem;
    padding-top: 1.5rem;
     }

    font-size: 1.5rem;
    @media screen and (min-width: 640px) and (max-width: 979px) {
        p {
            font-size: 13px;
        }
    }
    @media screen and (min-width: 640px) {
        font-size: 1.2rem;
    }
    @media screen and (min-width: 980px) {
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
        padding-top: 0.7rem;
    }
    @media screen and (min-width: 1360px) {
        padding-bottom: 2rem;
        padding-top: 1rem;
    }
}

.photo-family-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .title-near-picture {
//     font-size: 1.5rem;
//     @media screen and (min-width: 640px) {
//         font-size: 1.4rem;
//     }
//     @media screen and (min-width: 980px) {
//         font-size: 1.8rem
//     }
// }

.text-near-picture-box {
    @media screen and (max-width: 639px) {
        order: -1;
    }

    p {
        color: $dark-gray;
        font-weight: 500;
        @media screen and (min-width: 980px) {
            font-size: 17px;
        }
      
        @media screen and (min-width: 640px) and  (max-width: 779px) {
            font-size: 12px;
        }
    }
}

.back {
    max-width: 600px;
    max-height: 600px;
    position: absolute;
    /* width: 100%; */
    margin-bottom: 0;
    z-index: -10;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    top: 6%;
    left: 0;
    right: 0;
    margin: auto;
}

.back-2 {
    max-width: 600px;
    max-height: 600px;
    position: absolute;

    margin-bottom: 0;
    z-index: -10;
    top: -5%;
    right: -5%;

}
.back-3 {
    max-width: 600px;
    max-height: 600px;
    position: absolute;

    margin-bottom: 0;
    z-index: -10;

    right: -77px;
    margin: auto;

}
.back-4 {
    display: none;
 @extend .back-3;
 right: -120px;
 top: 39%;
}

.background-without-corner{
    background: rgba(37, 46, 65, 0.07);
    position: relative;
    z-index: 10;
}

.background-without-corner:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 298px solid white;
    border-right: 50vw solid rgba(37, 46, 65, 0);
    @media screen and (max-width: 639px){
        border-right: 90vw solid rgba(37, 46, 65, 0);
    }
    width: 0;
    z-index: -1;
}

////////////////////////realiation

.single-realization-cell {
    background-image: url("../img/Group\ 215.jpg");
    // height: fit-content;

}

.realisation-box {
   padding-top: 2rem;
   padding-bottom: 3rem;
   a {
       color: #fff;
   }
}

.realisation-section {
    padding: 3rem 0;
    .big-title {
        color: $dark-gray;
    }
}



.visible-after-hover {
  
    visibility: hidden;
    font-size: 14px;
    padding: 1rem;

    @media screen and (max-width: 639px) {
        font-size: 12px;
 
    }
    @media screen and (min-width: 640px) {
        padding: 2rem;
 
    }
    @media screen and (min-width: 1360px){
       font-size: 18px;
    }
    background: transparent linear-gradient(180deg, rgba(53, 186, 219, 0.77) 0%, rgba(0, 94, 170, 0.77) 100%) 0% 0% no-repeat padding-box;
 
    opacity: 0;
    transition: .3s ease-in-out;

    .ala-button {
        color: white;
        text-transform: uppercase;
    }
    color: white
}

.single-realization-cell:hover .visible-after-hover  {
    visibility: visible;
    cursor: pointer;
    opacity: 1;
    height: fit-content;
 }
 

.title-no-margin-box {
    justify-content: center;
    @media screen and (max-width: 639px) {
       margin-bottom: 50px;
    }
}





.video-section {
    p {
        font-size: 18px;
        @media screen and (min-width: 1360px) {
           padding-left: 50px;
        }
    }
    @media screen and (min-width: 1360px) {
        display: flex;
        align-items: center;
      .big-title {
        margin-bottom: 4rem;

      }
      p {
          font-size: 24px !important;
      }
      }

    background-image: url("../img/Group\ 135.jpg");
    color: #fff;
    @media screen and (max-width: 1039px) {
       text-align: center;
     }
     .video{
        @media screen and (max-width: 1039px) {
          margin-bottom: 2rem;
          }
          
     }
     .video-movie-box {
        @media screen and (min-width: 1360px) {
            width: 100%;
        }
     }
 
}

.button-box-see-more {
    margin-top: 30px;

}

///////////////////////////////footer

.footer {
    p {
        margin-bottom: 0.5rem;
    }
    color: white;
    a {
        color: white;
    }
    .sign-in-box {
        padding: 1rem 0;
        margin-bottom: -1px;
        background-image: url("../img/Group\ 236.jpg");
        .sign-in {
 
            input {
                margin-bottom: 0;
                border: none;
            }
        }
        .yellow-button-box {
            justify-content: center;
        }
    }
    .main-footer {
        @media screen and (max-width: 639px) {
           text-align: center;
            }
        background: url("../img/Rectangle\ 15.svg");
        background-size: cover;
    }
    .links-footer {
        svg {
            height: 20px;
            margin: 30px 10px;
            path {
                transition: .2s ease-in-out;

            }
            &:hover {
                path{
                    fill: #005DAA;
                }
              
            }
            path{
            fill: #fff;
        }
    }
    }
    .last-column-footer-box {
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 639px) {
            justify-content: center;
            text-align: center;
             }
        a {
            transition: .3s ease-in-out;
            &:hover {
                color: $dark-blue;
            }
        }
    }
    .last-column-footer {
        display: inline-block;
    }
    .last-column-footer .main-menu {
        list-style: none;
        margin-left: 0;
    }
    .footer_1 {
        margin-bottom: 2rem;
    }

}


///////////////////////////home-gray-section

.home-gray-section {
    overflow: hidden;
    .back-2 {
        max-width: 500px;
        max-height: 500px;
        position: absolute;
        margin-bottom: 0;
        z-index: -10;
        top: 3%;
        right: -14%;
    }
    .title-in-cells {
        color: $dark-gray;
        margin-left: 17px;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
        @media screen and (min-width: 640px) and (max-width: 799px) {
            margin-left: 8px;
            font-size: 1rem;
        }

        }
    
    .cell-in-home {
        p {
            color: rgba(37, 46, 65, 0.6);
        }
        @media screen and (min-width: 800px) {
            padding: 3%;
             }
        @media screen and (max-width: 639px) {
            margin-bottom: 50px;
            padding: 8%;
        }
    }
    .img-and-title {
        margin-bottom: 20px;
    }
    .number {
        top: -17%;
        left: 6%;
        // @media screen and (max-width: 640px) {
        //     top: 
        // }
    }
    .cells-box {
        margin-top: 50px;
    }
}




///////////////////pasek

.strap {
    padding: 2rem 0;
    color: white;
    background-color: $dark-blue;
    .button-strap {
        justify-content: flex-end;
    }
    h2 {
        text-align: center;
        @media screen and (min-width: 640px){
        text-align: left;
    }
}
}


//////////////////////////////animations

.animation {
    color: $dark-gray;
    padding-top: 2rem;
}

.animation-wrapper {
    color: $dark-gray;
    padding-top: 2rem;
    // @media screen and (min-width: 1360px){
    //     min-height: calc( 100vh - 97.333px );
    //     display: flex;
    // flex-direction: column;
    // justify-content: center;
    // }
    @media screen and (min-width: 1360px){
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      
    }
    .wrapper-1 {
        @media screen and (min-width: 1360px){

            flex: 1;
            justify-content: center;
        }
    }
    .wrapper-2 {
        @media screen and (min-width: 1360px){

            flex: 0 0 auto;
        }
    }
 
}
//img with 1,2,3
.map {
    padding-right: 15%;
    @media screen and (min-width: 1700px){
       display: none;
    }
}

.map-big {
    margin-right: 15%;
    display: none;
    @media screen and (min-width: 1700px){
        display: block;
        height: 550px;
    }
}

// #animation-box {
//     display: flex;
//     justify-content: center;
//     margin-left: -150px;
// }

// .display-flex-anim {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding-bottom: 3rem;
// }

@keyframes example {
    from {display: none; opacity:0;}
    to {display: block; opacity:1;}
  }
  
.animated-elements {
    display: none;
    flex-direction: column;
        justify-content: center;
        padding-bottom: 3rem;
    animation-name: example;
    // animation-delay: 1s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    // animation-iteration-count: 2;
    
  
 
    @media screen and (min-width: 980px) {
       max-width: 60%;
       margin-left: 20px;
         }
    @media screen and (min-width: 1200px) {
       max-width: 46%;
       margin-left: 76px;
         }
    @media screen and (min-width: 1500px) {
       margin-left: 127px;
         }
    p {
        max-height: 230px;
        @media screen and (max-width: 979px) {
            font-size: 14px;
        }
    overflow: hidden;
        max-width: 90%;
        margin-top: 30px;
    }     
}

.shadow-ball {
// z-index: -100;

position: absolute;
height: 45px;
width: 45px;
@media screen and (min-width: 1700px){
    height: 70px;
    width: 70px;
    font-size: 28px;
}
color: white;
// -webkit-box-shadow: 0px 0px 85px 3px rgb(0, 130, 183);
// -moz-box-shadow: 0px 0px 85px 3px rgb(0, 130, 183);
// box-shadow: 0px 0px 0px 10px rgb(0, 130, 183);
border-radius: 100px;
// background-color: transparent;
background-color: rgb(0, 130, 183);
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
&:hover {
    cursor: pointer;
}

}

.shadow-first {
    top: 22%;
    left: 55%;
    @media screen and (min-width: 1700px){
        top: 23%;
        left: 48%;
    }
    @media screen and (min-width: 1800px){
        left: 47%;
    }
}
.shadow-second {
    top: 39%;
    left: 67%;
    @media screen and (min-width: 1700px){
        top: 40%;
        left:68%;
    }
    @media screen and (min-width: 1800px){
        left:67%;
    }
}
.shadow-third {
    top: 55%;
    left: 47%;

    @media screen and (min-width: 1700px){
        top: 58%;
        left: 56%;
    }
    @media screen and (min-width: 1800px){
        left:55%;
    }
}

.add-transform {
    margin-left: 50%;
    transform: translateX(-50%);
}

#animated-img {
    @media screen and (min-width: 1700px){
       padding-right: 7%;
     }
    padding-bottom: 3rem;
    flex: 0 0 auto; 
    position:relative;
//   margin-left: 30vw;

  transition: all 0.7s cubic-bezier(.25,.46,.45,.94) 0s;
}

@keyframes light {
    from {-webkit-box-shadow: 0px 0px 0px 0px #005DAA;
        -moz-box-shadow: 0px 0px 0px 0px #005DAA;
 box-shadow: 0px 0px 0px 0px rgb(0, 130, 183);

    }
    to { -webkit-box-shadow: 0px 0px 0px 20px rgb(0, 130, 183);
      box-shadow: 0px 0px 0px 15px rgba(0, 131, 183, 0);

  }
}

.shadow-ball {
    animation: light 1s ease-in-out infinite;
}
  
@keyframes zIndexOut {
    from{z-index:3;}
    to{z-index: 2;}
    }
@keyframes zIndexOut-reverse {
    from{z-index:2;}
    to{z-index: 3;}
    }

.tooltip {
    z-index: 2;
    animation: light 1s ease-in-out infinite, zIndexOut 0.3s;
    &:hover{ 
        z-index: 3;
        animation-name: zIndexOut-reverse;
        animation-delay: 0.3s;
        animation-duration: 0.3s;
     }
}

img[usemap], map area{
    outline: none;
}


.animation-box {
    display: flex;
    @media screen and (max-width: 759px) {
    display: none;
    }
}

/////3 steps- mobile   
.mobile-3-steps {
    padding-bottom: 3rem;
    @media screen and (min-width: 760px) {
        display: none;
        }
}

.step-box {
    background: -moz-linear-gradient(left, #005DAA 0%, #1C6EA4 50%, #35BADB 100%);
    background: -webkit-linear-gradient(left, #005DAA 0%, #1C6EA4 50%, #35BADB 100%);
    background: linear-gradient(to right, #005DAA 0%, #1C6EA4 50%, #35BADB 100%);
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

// arrow-down

.step-box-text {
    margin-top: -2px;
    color: #fff;
    padding: 10px;
    display: none;
    background: -moz-linear-gradient(left, #005DAA 0%, #1C6EA4 50%, #35BADB 100%);
    background: -webkit-linear-gradient(left, #005DAA 0%, #1C6EA4 50%, #35BADB 100%);
    background: linear-gradient(to right, #005DAA 0%, #1C6EA4 50%, #35BADB 100%);
}

.arrow-down {
&:hover {
    cursor: pointer;
}
}

// .arrow-down:focus + .step-box-text {
//     display:block;
  
//     }

.owl-1 {
    @media(max-width: 639px) {
        .button-white {
            font-size: 9px;
        }
    }

    .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 86%;
 
    }
    .cell {
        @media(max-width: 1359px) {
            padding: 15% 0;

        }
    }

    .owl-dot:active {
        background-color: transparent;
    }
    .owl-dots .owl-dot span {
            height: 7px;
            width: 7px;
    }
  .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background-color: $blue;
    }
    .owl-photo {
        color: #fff;
        background-image: url("../img/baner-www1366\ \(1\).png");
        // background-size: contain;
        @media(min-width: 1366px){
            background-image: url("../img/baner-www1366\ \(1\).png");
            background-size: cover;
        }
        @media(min-width: 1680px){
            background-image: url("../img/baner-www-1680.png");
   
        }
        @media(min-width: 1920px){
            background-image: url("../img/baner-www-1920.png");
       
        }
        @media(min-width: 2560px){
            background-image: url("../img/baner-www-2560\ \(1\).png");
          
        }
        // min-height: 100vh;
    }
}


///////////////////clean energy

.clean-energy-photo {
    // background-image: url("../img/Group\ 1713.png");
    // background-position: right;
    margin-left: -174px;
    @media(min-width: 1600px){
        margin-left: -250px;
    }
    width: 100%;
    height: 100%;
    @media(max-width: 1023px){
        display: none;
    }
}

.clean-energy {
    strong {
        font-size: 16px;
        @media screen and (min-width: 980px) {
            font-size: 20px;
         }
    }
    .small-title {
        font-size: 20px !important;
        @media screen and (min-width: 980px) {
            font-size: 25px !important;
         }
         @media screen and (min-width: 1360px) {
            font-size: 33px !important;
        }
    }
    background-color: $light-light-gray;
    p {
        strong {
            color: $dark-gray;
        }
        font-weight: 500;
        @media screen and (min-width: 980px) {
            font-size: 18px;
         }
        color: #4B566E;
    }
}

@media(min-width: 1500px){
    .stretch-right {
        padding-right: calc( ( 100vw - 1500px) / 2 - 15px);
    }
    .stretch-left {
        padding-left: calc( ( 100vw - 1500px) / 2 - 15px);
    }
   }


//    @media(min-width: 75rem ){
//     .stretch-r {
//      margin-left: calc( ( 75rem - 100vw ) / 2 - 15px );
//     }
//    }

// .img-rotate {

// }

.text-on-img {
    top: 0;
    bottom: 0;
    margin: auto;
    left: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h2 {
        color: #fff;
        font-size: 1.2rem;
        @media(min-width: 540px){
           font-size: 1.5rem;
        }
        @media(min-width: 640px){
           font-size: 1rem;
        }
        @media(min-width: 980px){
           font-size: 1.5rem;
        }
    }
    a {
        @media(min-width: 640px){
            font-size: 0.7rem;
         } 
        @media(min-width: 980px){
            font-size: 1rem;
         } 
    }
}



//////////////////////////sun-animation

.sun-title {
    font-weight: 600;
    font-size: 25px;
    em {
        color: $blue;
        font-style: normal;
    }
}

.sun-animation {
    margin-top: 5rem;
    @media(max-width: 979px){
        display: none
     }

}

.sun-box {

    // max-width: 463px;
    @media(min-width: 981px){
        padding-right: 50px;
        min-height: 340px;
     }
  
}

.sun {
    @media(min-width: 981px){
        max-width: 463px;
      
     }

    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.4;
    svg path{
        fill:currentColor;
    }
    svg line {
        stroke: currentColor;
    }
    p {
        margin: 0;
        padding-left: 20px;
        font-size: 16px;
        @media(min-width: 640px) {
            font-size: 21px;
        }
    }
  
    margin-bottom: 1rem;
//  &:hover {
//     @media(min-width: 981px){


//         cursor: pointer;
//         opacity: 1;
//         color: $blue;
//         transition: .3s ease-in-out;
//         svg path{
//             fill:  currentColor;
         
      
//         }
//         svg line {
//             stroke:  currentColor;
//         }
//     }
//     }
    .sun-inside {
        display: flex;
        align-items: center;
    }
}

[data-whatintent="mouse"] .sun:hover {
    cursor: pointer;
    opacity: 1;
    color: $blue;
    transition: .3s ease-in-out;
    svg path{
        fill:  currentColor;
     
  
    }
    svg line {
        stroke:  currentColor;
    }
}

.color-blue-2 {
    cursor: pointer;
    opacity: 1;
    color: $blue;
    transition: .3s ease-in-out;
    svg path{
        fill:  currentColor;
  
    }
    svg line {
        stroke:  currentColor;
    }

}


@keyframes myAnimation {
    from {display: none; opacity:0;}
    to {display: block; opacity:1;}
  }
  

.animated-ul {
    display: none;
    // visibility: hidden;
    color: #252E41;
    animation-name: myAnimation;
    animation-duration: 1s;
    animation-timing-function:ease-in-out;

    li {
        padding: 5px 0;
        font-weight: 500;
    }
}


///sun-animation-mobile

.sun-animation-mobile {
    @media(min-width: 981px){
        display: none
     }
     margin-top: 2rem;
     display: flex;
     justify-content: center;
     .sun svg:last-child {
        transform: rotate(90deg);
     }
    //  .sun-box {
    //     //  padding-right: 0;
    //     // //  max-width: 600px;
    //     // padding: 0 10%;
    //     //  @media(max-width: 640px){
    //     //     padding: 0 2%;
    //     //  }
    //  }
     .animated-ul-mobile {
         text-align: left;
         padding-left: 20px;
         color: #252E41;
         display: none;
         li {
            padding: 5px 0;
        }
     }
}

.animation-containter {
    @media(min-width: 640px)and(max-width: 979px){
        padding: 0 10%;
      
     }
}

////////////////responsive house

.house {
   .big-title {
    margin-bottom: -2rem;
    margin-top: 2rem;
   }
}

.responsive-house-box {
    img {
        width: 80%;
        @media screen and (max-width: 639px){
            width: 100%;
        }
    }
    text-align: center;
    margin-top: 3rem;
}

.shadow-ball-house {
    // z-index: -1;
    position: absolute;
    height: 42px;
    width: 42px;
    @media screen and (max-width: 639px){
        height: 25px;
        width: 25px;
        font-size: 11px;
    }
    @media screen and (max-width: 979px){
        height: 30px;
        width: 30px;
        font-size: 12px;
    }
    @media screen and (min-width: 1200px){
        height: 50px;
        width: 50px;
        font-size: 17px;
    }
    color: white;
    // -webkit-box-shadow: 0px 0px 85px 3px rgb(0, 130, 183);
    // -moz-box-shadow: 0px 0px 85px 3px rgb(0, 130, 183);
    // box-shadow: 0px 0px 0px 10px rgb(0, 130, 183);
    border-radius: 100px;
    // background-color: transparent;
    background-color: rgb(0, 130, 183);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 639px){
        animation-play-state: paused;
    }
    &:hover {
        cursor: pointer;
        animation-play-state: paused;
    }
    
    }

    .shadow-1-house {
        top: 30%;
        left: 67%;
        @media screen and (max-width: 639px){
            top: 30%;
            left: 67%;
        }
    }
    .shadow-2-house {
        top: 42%;
        left: 45%;
        @media screen and (max-width: 639px){
            top: 37%;
            left: 43%;
        
        }
    }
    .shadow-3-house {
        top: 49%;
        left: 47%;
        @media screen and (max-width: 639px){
            top: 51%;
            left: 48%;
        }
    }
    .shadow-4-house {
        top: 46%;
        left: 40%;
        @media screen and (max-width: 639px){
            top: 46%;
            left: 29%;
        
        }
    }
    .shadow-5-house {
        top: 32%;
        left: 29%;
        @media screen and (max-width: 639px){
            top: 29%;
            left: 18%;
        
        }
    }
    .shadow-6-house {
        top: 47%;
        left: 27%;
        @media screen and (max-width: 639px){
            top: 51%;
            left: 15%;
        }
    }

 

    .tooltiptext {
        @media(max-width: 639px){
            display: none;
    
            }
        &::before {
            @media(min-width: 980px){

                display: flex;
                width: 0;
                height: 0;
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
        
                border-right: 10px solid #fff;
                margin-left: -30px;
                content: "";
                top: 40%;
                position: absolute;
            }
        
        }
        visibility: hidden;
        opacity: 0;
        position: absolute;
        color: #4B566E;
        box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
        padding: 20px;
        top: -243%;
        left: 136%;
      
        
        @media(min-width: 640px){
            top: -350%;
            left: -526%;
            width: 350px;
        }
        @media(min-width: 980px){
            top: -90%;
            left: 136%;
            width: 15rem;
        }

        // @media(max-width: 350px){
        //    max-width: 100%;
        // }
  
        background-color: #fff;
        font-size: 12px;
    
        /* Position the tooltip text - see examples below! */
    
        z-index: 1;
        transition: .3s ease-in-out;
     
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
        z-index: 100;
        opacity: 1;
    
    }


    @keyframes mobile-house {
        from {display: none; opacity:0;}
        to {display: block; opacity:1;}
      }
    // @keyframes mobile-house-2 {
    //     from {display: block; opacity:1;}
    //     to {display: none; opacity:0;}
    //   }
      
  
        

    .tooltiptext-mobile {
        display: none;
        animation-name: mobile-house;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        position: absolute;
        color: #4B566E;
        // background-color: rgba(31, 29, 29, 0.623);
        // color: #fff;
        box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
        padding: 20px;
        width: 100%;
        left:0;
        bottom: 75%;
        background: rgb(255, 255, 255);
        color: #4B566E;
        box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
        padding: 20px;
        font-size: 12px;
        font-weight: bold;
      
    }


///////////////////////about


// .about-photo {
//     // @media(max-width: 1024px) {
//     //     height: 80%;

//     // }
// }

.text-near-photo-about {
    p {
        @media(min-width: 640px) and (max-width: 899px){

            font-size: 12px;
        }
    }
}

.about-photo-box {
    // background-image: url("../img/Group\ 1431.png");
    // background-position: left;
    display: none !important;
    @media(min-width: 640px){
   
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
    }
}

.about {
    color: #4B566E;
    @media(min-width: 1024px){
        font-weight: 500;
       p, .semi-bold {
           font-size: 18px;
        
       }
    }
}

.owl-2 {
    img {
        filter:grayscale(100%);
        transition: .3s ease-in-out;
        &:hover {
            filter: none;
        }
    }
    .owl-photo {
        display: flex;
        justify-content: center;
    }
  position: relative;
  .owl-item img {
      width: auto;
  }
    margin-top: 2rem;
    @media(min-width: 980px){
        margin-top: 5rem;
    }
    .owl-nav {
        font-size: 30px;
        @media(min-width: 1500px){
            font-size: 60px;
        }
        color: #B2B2B2;
     
        .owl-next {
            &:hover {
                background-color: transparent;
                color: $blue;
            }
            margin: 0 30px;
            @media(min-width: 1650px){
                margin: 0 0;
                position:absolute;
                top: -30%;
                right: -3%;
            }
       
        }
        .owl-prev {
            &:hover {
                background-color: transparent;
                color: $blue;
            }
            margin: 0 30px;
            @media(min-width: 1650px){
                margin: 0 0;
                position:absolute;
                top: -30%;
                left: -3%;

            }
        }
    }

    .owl-stage {
        display:flex;
        align-items: center;
    }
}


/////////////////////blog


.blog {
    background-color: #F7F7F7;
}
//////////////////////////////blog -> cards
.card {
    color: #252E41;
    box-shadow: 0px 3px 14px hsla(0, 0%, 0%, 0.11);
    border: none;
    h4 {
        color: $dark-gray;
        font-weight: 600;
        font-size: 16px;
        @media(min-width: 640px) and (max-width: 979px) {
            font-size: 14px;
        }
    }
    p {
        font-size: 12px;
        font-weight: 500;
        max-height: 125px;
        @media(min-width: 640px) and (max-width: 979px) {
            max-height: 82px;
            font-size: 11px;
        }
        overflow: hidden;
        color: #4B566E;
        padding: 10px 0;
   
    }
   
    .card-img {
        background-image: url("../img/TWÓJ\ DOM.jpg");
        min-height: 250px;
        @media(min-width: 640px) and (max-width: 979px) {
            min-height: 150px;
        }
    }
    .more {
        text-transform: uppercase;
        font-weight: bold;
        color: #005DAA;
        font-size: 12px;
        @media(min-width: 640px) and (max-width: 979px) {
            font-size: 12px;
        }
    }
    .card-section {
        @media(max-width: 1024px) {
            padding: 2rem;
        }
        @media (min-width: 1200px) {

            padding: 2rem;
        }
        transition: .3s ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: $blue;
            .date, p, h4, .more {
                color: #fff;
            }
        }
    }
}
.date {
    color:#A2A2A2;
    font-size: 12px;
    @media(min-width: 640px) and (max-width: 979px) {
        font-size: 12px;
    }
}


//////////////////blog-> search
.button-group {
    display: flex;
    flex-wrap: wrap;
}
.search-header {
    text-transform: uppercase;
    font-size: 20px;
    @media(min-width: 640px) and (max-width: 979px) {
        font-size: 17px;
    }
    font-weight: 400;
    padding: 1rem 0;
}

.search {
    align-self: flex-start;
    padding: 1%;
    .search-ul .main-menu {
        @media(max-width: 639px) {
            display: flex;
            flex-wrap: wrap;
            padding-right: 10px;

        }

        list-style: none;
        margin-left: 0;
        li {
            font-size: 14px;
            @media(max-width: 639px) {
                padding-right: 30px;
            } 
            @media(min-width: 640px) and (max-width: 979px) {
                font-size: 13px;
            }
        }
        li a {

            color: #707070;
            &:hover {
                color: $blue;
                cursor: pointer;
            }
        }
    }
   
    background: #fff;
    [type='text'] {
        @media(max-width: 639px) {
           display: none;

        } 
        @media(min-width: 640px)and(max-width: 859px){
            height: 31px;
        }
        border: 0.5px solid #8A8A8A;
        padding-left: 10%;
        box-shadow: none;
        font-size: 11px;
        color: #3A3A3A;
        // opacity: 0.43;
        font-style: italic;
        background: url("../img/search.svg") no-repeat 90% 14px;
        background-position-y: center;
        }
}

.tags-mobile {
    @media(min-width: 640px) {
        display: none;

     } 
}

.tags {
    @media(max-width: 639px) {
        display: none;

     } 
}



// .trapez {
//     background-image: url("../img/Group\ 202.jpg");
//     height: 500px;
// }

///////////////privacy

.privacy {
    overflow: hidden;
    p {
        font-weight: 500;
        font-size: 18px;
        @media(max-width: 979px) {
            font-size: 14px;
    
         } 
    }
}


///////////////single-blog

.blog-img {
    background-image: url("../img/Intersection\ 28.jpg");
    height: 380px;
    // margin: 3rem 0 1rem 0;
    margin: 2rem 0;
}

.small-blog-img {
    background-image: url("../img/Intersection\ 18.jpg");
    height: 360px;
    margin: 2rem 0;
}

.blog-1-see-more {
    .card {

        .card-img {
    
            @media(min-width: 640px) and (max-width: 1023px){
               min-height: 250px;
        
             } 
            @media(min-width: 1024px) and (max-width: 1399px){
               min-height: 200px;
        
             } 
          
        }
    }
}

.grid-container-80 {
    @media(min-width: 640px) {
        max-width: 80% !important;
      } 
}

.arrow-left {

    &:hover {
        cursor: pointer;
        svg path, svg line{
            stroke: $dark-blue;
      
        }
    }
    position: sticky;
    z-index: 2;

    @media(min-width: 640px) {
        top: 16%;
        margin-left: 2%;
      } 
    @media(min-width: 980px) {
  
        margin-left: 3%;
        margin-bottom: -3%;
      } 
      @media(max-width: 639px) {

          margin-top: 1rem;
          margin-bottom: 1rem;
      }
}

.blog-single {
    .date {
        font-size: 15px;
    }
    p {
        color: #4B566E;
        font-size: 14px;
    }
   h4, h2 {
       color: $dark-gray;
   }
   h4 {
    //    padding-top: 2rem;
    //    padding-bottom: 1rem;
       font-size: 20px;
   }
    @media(max-width: 639px) {
      } 
}


///////////////////////////job

.offer {
    color: #fff;
    background-color: $blue;
    padding: 2%;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $blue;
    transition: .3s ease-in-out;
    h3 {
        font-weight: bold;
        margin-bottom: 0;
        @media(min-width: 640px) and (max-width: 979px) {
           font-size: 20px;
        } 
    }
    svg {
        @media(max-width: 1023px) {
            width: 25px
        } 
    }
  
}

[data-whatintent="mouse"] .offer:hover {
    cursor: pointer;
    transition: .3s ease-in-out;
    color: $blue;
    background-color: #fff;
    border: 1px solid $blue;
    svg line {
        stroke: $blue;
    }
}

.offer-added-class {
    color: $blue;
    background-color: #fff;
    border: 1px solid $blue;
    svg line {
        stroke: $blue;
    }
}

.offers-title {
    font-size: 20px;
    margin-top: 3rem;
    padding-bottom: 1rem;
}

.offer-text {
    display: none;
    padding: 5%;
    @media(min-width: 640px) {
        padding: 5%;
      } 
    @media(min-width: 640px) {
        padding: 2%;
      } 
    @media(min-width: 640px) {
        padding: 5%;
      } 

      h4 {
          color: #4B566E;
          font-weight: bold;
          font-size: 24px;
      }
      strong {
          font-weight: 600;
      }

      p, li {
          font-size: 14px;
      }

      ul {
          list-style: none;
      }

      ul li::before {
          line-height: 1.2; ///!!!
          font-size: 20px;
          color: $blue;
          content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
          font-weight: bold; /* If you want it to be bold */
          display: inline-block; /* Needed to add space between the bullet and the text */
          width: 1em; /* Also needed for space (tweak if needed) */
          margin-left: -1em; /* Also needed for space (tweak if needed) */
      }


      p:last-child {
          font-size: 12px;
          font-weight: 500;
      }
}

// .company-first {
//     @media screen and (min-width: 640px){
//         // min-height: calc( 100vh - 97.333px );
//         min-height: 100vh;
//         display: flex;
//     flex-direction: column;
//     justify-content: center;
//     .big-title {
//         margin-bottom: 4rem;
//     }
//     }
// }

.company-100 {
    @media screen and (min-width: 640px){
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      
    }
    .wrapper-1 {
        flex: 1;
        justify-content: center;
    }
    .wrapper-2 {
        flex: 0 0 auto;
    }
}

.why-us {
    p {
        color: #4B566E;
        font-weight: 500;
        @media screen and (min-width: 1200px){
            font-size: 18px;
        }
    }
}

.strap .title-no-margin-box {
    display: flex;
    justify-content: flex-start;
}

.change-x {
    .cell {
         margin-right: 7.5px;
        // margin-left: 7.5px;
    }
}

.box-blog-cell {
    // .cell {
    //     // margin-right: 7.5px;
    //     // margin-left: 7.5px;
    // }
    .card {
        @media(min-width: 640px)and(max-width: 859px) {

        
            .grid-margin-x {

                margin-left: -7.5px !important;
                margin-right: -7.5px;
            }
            .card-img {
                min-height: 135px;
            }
            .card-section{
                padding: 1rem;
                h4 {
                    margin-bottom: 4px;
                }
                p {
                    padding: 5px;
                    max-height: 78px;
                }
            }
        }
    }
}

//////////////////////kontakt
// padding: 2rem;
// max-width: 464px;
// margin: auto;
.contact-left {
    margin-bottom: 3rem;
    @media (min-width:640px) {
        margin-bottom: 0;
    }
    .contact-info-box {
        height: 100%;
        display: flex;
        @media (min-width:640px) {

            flex-direction: column;
        }
        justify-content: space-evenly;
        @media (max-width:359px) {
            justify-content: space-between;
        }
    }
    @media (min-width:640px) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }
    h3 {
        color: $blue;
        font-size: 16px;
        @media (min-width:480px) {
            font-size: 20px;
        }
        @media (min-width:640px) {

            font-size: 23px;
        }
        @media(min-width: 1500px){
            font-size: 30px; 
        }
        font-weight: bold;
        margin-bottom: 22px;
    }
    p {

        font-size: 12px;
        @media (min-width:480px) {
            font-size: 14px;
        }
        font-weight: 600;
        margin-bottom: 12px;
        @media(min-width: 1500px){
            font-size: 16px; 
        }
    }



}

.footer-form {
    padding: 2rem 1rem;
    @media (min-width:480px) {
        padding: 3rem 2rem;
        margin: 0 5%;
    }
    @media(min-width: 640px) {
        margin: 0 0;
        max-width: 464px;
    }
    @media(min-width: 1500px){
        max-width: 520px;
    }
    margin: auto;
    .big-title {
        color: #fff;
        font-size: 24px;
        @media(min-width: 1500px){
            font-size: 30px; 
        }
        font-weight: bold;
    }
    // background: linear-gradient(to bottom, #1369B0 0%, #1C6EA4 50%, #13B0D4 100%);
    background-image: url("../img/Rectangle\ 15.png");
    .wpcf7 [type=text], .wpcf7 [type=tel], .wpcf7 [type=email], .wpcf7 textarea {
        background-color: transparent;
    padding: 1.5em;
    margin-bottom: 0;
    border-bottom: 1px solid #5AA5D0;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    color: #fff;
    font-size: 10px;
    @media(min-width: 1500px){
        font-size: 12px;
    }
    padding-left: 0;
    &::placeholder {
        color: #C3DEEE;
    }
    }

    input[type=checkbox] {
        // position: relative;
        height: 10px;
        position: absolute;
        top:-9px;
        bottom: 0;
        margin: auto;
        left:0;
        z-index: 5;
          cursor: pointer;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0;
        left: 0;
        border: 0.5px solid #fff;
        background-color: #1394C6;
    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 4px;
        height: 7px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 1px;
        left: 3px;
    }
    
    // .footer-form .wpcf7 .wpcf7-acceptance .wpcf7-list-item-label {
    //     color: #fff !important;
    // }
    
    span .wpcf7-list-item {
        padding-left: 40px;
        position: relative;
        display: inline-block;
    }
    
    span .wpcf7-list-item label{
        // line-height: 1;
        // padding-bottom: 1em;
        font-size: 7px;
        @media(min-width: 1500px){
            font-size: 10px; 
        }
        color:#C3DEEE;
    }

    input:disabled {
        background-color: #fff;
    }
    .button-white {
        font-size: 13px;
        @media(min-width: 1500px){
            font-size: 16px; 
        }
        font-weight: 600;
        padding: 0.5rem 0.9rem;
        margin-top: 1rem;
        &:hover {
            border: 1px solid #fff;
            color: #fff;
            background: transparent;
        }
    }
    

}


//////////////////////form 

.my-form {
    color: #252E41;
    max-width: 900px;
    margin: auto;
    .small-title {
        margin-top: 3rem;
        font-weight: 600;
        color: #252E41;
    }
    .wpcf7 {
        [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea, select {
            @media(min-width: 800px){
            height: 46px;
            }
            &:hover {
                cursor: pointer;
            }
            &::placeholder{
                font-size: 12px;
                color: #252E41;
                opacity: 0.5;
            }
            box-shadow: none;
            border: 1px solid hsla(0, 0%, 44%, 0.5);
        }
        margin-top: 2rem;
        select {
            color: rgba(4, 7, 14, 0.5);
        
        }
        textarea {
            margin-top: 2rem;
            height: auto;
            border: none;
            box-shadow: 0px 0px 20px hsla(0, 0%, 73%, 0.161);
        }

        
.small-6 {
    @media(max-width: 400px) {
        width: 100%;
        margin: 10px 0;
        width: calc(100% - 1.25rem);
        margin-left: 0.625rem;
        margin-right: 0.625rem;
    }
}

        label {
            font-size: 14px;
            @media(max-width: 480px) {
                font-size: 12px;
            }
            font-weight: bold;
            line-height: 2;
            color: #252E41;
        }
        span {
           border: 1px solid #707070;
           box-shadow: none;
        }
        input:disabled {
            margin-top: 2rem;
            background-color: $dark-blue;
            &:hover {
                background-color: #fff;
            }
            font-size: 13px;
            font-weight: 600;
         
        }
        .strap-opction {
                margin-top: 16px;
                margin-bottom: -16px;
                color: rgba(37, 46, 65, 0.41);
                font-weight: 400;
        }
        select {
            background-image: url("../img/Group\ 1438.svg");
            font-size: 12px;
        }
        .additional {
            label em {
                font-style: normal;
                color: rgba(37, 46, 65, 0.41);
                font-weight: 400;

            }
        }
    }

    .form-more-strap {
        @extend .offer;
        @media(min-width: 800px){
            height: 46px;
            }
        svg {
            width: 18px;
        }
     
        .big-title {
            font-size: 14px;
            font-weight: 600;
        }
        border: 1px solid currentColor;
        background: transparent linear-gradient(270deg, #2EBADE 0%, #0D77B9 43%, #004781 100%) 0% 0% no-repeat padding-box;
        &:hover {
            background: #fff;
            border: 1px solid  #2EBADE; 
            .big-title {
                transition: .3s ease-in-out;
                color: #252E41;
            }
            svg line {
                stroke: #252E41 !important;
            }
        }
    }
    // [data-whatintent="mouse"] .form-more-strap:hover {
    //     background: #fff;
    //     border: 1px solid  #2EBADE; 
    //     .big-title {
    //         transition: .3s ease-in-out;
    //         color: #252E41 !important;
    //     }
    //     svg line {
    //         stroke: #252E41 !important;
    //     }
    // }
}

.added-form-class {
    background: #fff !important;
    border: 1px solid  #2EBADE !important; 
    .big-title {
        transition: .3s ease-in-out;
        color: #252E41;
    }
    svg line {
        stroke: #252E41 !important;
    }
}

.checkbox-form {
    input[type=checkbox] {
        // position: relative;
        position: absolute;
        top:-16px;
        bottom: 0;
        margin: auto;
        left:0;
        z-index: 5;
          cursor: pointer;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        top: 0;
        left: 0;
        border: 0.5px solid rgba(37, 46, 65, 0.52);
        background-color: #fff
    }
    input[type=checkbox]:checked:after {
        content: "";
    display: block;
    width: 4px;
    height: 7px;
    border: solid #35BADB;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 3px;
    }
    
    // .footer-form .wpcf7 .wpcf7-acceptance .wpcf7-list-item-label {
    //     color: #fff !important;
    // }
    
    span {
        input {
            height: 10px;
        }
        padding-left: 13px;
        position: relative;
        display: inline-block;
        border: none !important;
        font-size: 9px;
        color: rgba(37, 46, 65, 0.52);
        margin: 1% 2%;
        font-weight: 400;
    }
    
   label{
        // line-height: 1;
        // padding-bottom: 1em;
        font-size: 7px;
        @media(min-width: 1500px){
            font-size: 10px; 
        }
        color:#C3DEEE;
    }
}

.additional {
    display: none;
}
